[2017-05-30 03:08] philipperemy opened #1 "Does not work for multi-inputs"
[code]

[2017-05-30 03:09] philipperemy commented on #1
Currently working on it

[2017-06-01 08:22] philipperemy commented on #1
Fixed with 70cf77c1a32b0a06b8c8c0e5827293c06219ecff

[2017-06-01 08:22] #1 closed

[2017-09-06 02:27] philipperemy opened #2 "Learning phase 0 and 1."
Thanks a lot for sharing!
One simple issue,

`Learning phase. 1 = Test mode (no dropout or batch normalization)`

However, I found in Keras (2.0.2)
` The learning phase flag is a bool tensor (0 = test, 1 = train)
`
And in practice I set the flag to 0 will get same output for same samples.

[2017-09-14 01:03] #2 closed

[2017-09-14 01:04] philipperemy commented on #2
Fixed in https://github.com/philipperemy/keras-visualize-activations/pull/3

[2017-11-22 22:05] QihongL opened #4 "apply to RNNs?"
Thanks for implementing this! Have you tested your package with recurrent nets? Naively applying your package to an RNN returned some error message and I am trying to understand it... But never mind if this is specifically designed for feedforward nets!

[2017-12-12 11:42] philipperemy commented on #4
Hum I've never tried with RNN! Let's try that together :)

[2017-12-12 11:43] philipperemy commented on #4
@QihongL Do you think you can work out a PR?

(This objective of the repo is to be generic and work for every possible type of architecture)

[2017-12-12 15:04] philipperemy commented on #4
This code works very well for a LSTM.

Can you have a look and see where is your problem?

[code]

Console output:
[code]

[2017-12-12 16:17] QihongL commented on #4
Right, I forgot to update this... I did manage to get it to work and I don't remember what was causing the error. Anyway, your code works for RNNs! Thank you so much! This is super helpful!

[2017-12-13 03:21] philipperemy commented on #4
@QihongL happy that it worked for you!!

[2017-12-13 03:21] #4 closed

[2018-05-26 12:28] shivam-deepcompute opened #5 "What do the different color and axis value mean."
Hi @philipperemy,
I tried your tool, its very interesting to observe the activation-map. But I am facing one issue, i dont understand what the different colors mean. I have the below activation-map.

![screenshot from 2018-05-26 17-55-25](https://user-images.githubusercontent.com/33828942/40576080-5091cf40-610e-11e8-95f7-b38ac14e9813.png)
Is there some kind of reference I can refer to for differen

[2018-05-27 01:54] philipperemy commented on #5
Sure. I use matplotlib to display the results. It's easy to understand for convolutional layers but less easy for model outputs.

Matplotlib uses the colormap called JET by default.

https://matplotlib.org/2.0.2/examples/color/colormaps_reference.html (check Misc colormaps around the bottom).

Blue color mean lowest values (~cold).
Red color mean highest values (~hot).
Green color mean average val

[2018-05-27 01:55] #5 closed

[2018-05-28 05:55] shivam-deepcompute opened #6 "Is there a way to visualise activation in three dimension."
Hi @philipperemy ,
Thank you for making me understand #5 .
I was thinking to visualise the activation in 3D map. Is there a way. Like for example,  something like this.
![downsampled](https://user-images.githubusercontent.com/33828942/40599228-c85013c8-6269-11e8-9294-6b358b8fc229.png)

I am a novice, don't know if this question fits here.

[2018-05-28 06:02] philipperemy commented on #6
If you want to visualize something in 3D, you need to have a tensor of 3 dimensions to visualize.

The keras visualization library only returns you numpy arrays.

You're free to do what you want with those arrays.

You could use matplotlib to draw 3D plots: https://matplotlib.org/1.5.1/mpl_toolkits/mplot3d/tutorial.html

You can also dump those arrays into NPY files (using numpy.save) and read the

[2018-05-28 06:28] shivam-deepcompute commented on #6
Thanks to your reply. Will try to explore that part.

[2018-05-28 06:28] #6 closed

[2018-05-28 06:47] philipperemy commented on #6
Welcome!

[2018-09-07 12:06] abhigoku10 opened #7 "Extraction of the highest/strongest activation map"
@philipperemy @zhhongzhi  Hi thanks for the code just wanted know , in a given layer for number of filters how to extract / visualize the filter which has the maximum magnitude or strongest activation map in the given filter layer . Can you pls point at code level too

[2018-09-09 23:03] philipperemy commented on #7
@abhigoku10

Consider one image, MNIST and LeNet. The activations look like this:

[code]

Let's consider the second layer: (1, 24, 24, 64)

In that case you can do something like that:

[code]

[2018-09-09 23:03] #7 closed

[2018-10-05 22:01] olinguyen opened #9 "Can't run predictions after using get_activations()"
After calling the get_activations to print out the shapes of my activation layers, I'm unable to train my model or make any predictions.

I get the following error:

[code]

When trying to run predict:

[code]

When I don't run get_activations(), my code runs normally.

[2018-10-06 04:32] philipperemy commented on #9
@olinguyen maybe be due to batch norm. Can you test to see if it works by removing batch norm?

[2018-10-06 20:05] olinguyen commented on #9
Running `session.run(tf.global_variables_initializer())` seems to have resolved the issue

[2018-10-06 20:05] #9 closed

[2018-10-07 10:42] philipperemy commented on #9
@olinguyen ok thanks for letting us know :)

[2018-10-10 07:45] hamzamk opened #10 "in the mnist.py example, there is utils.print_names_and_shapes() for viewing more than one image's activation"
hi, is there any workaround utils.print_names_and_shapes ? since utils doesn't have that method

[2018-10-14 07:50] philipperemy commented on #10
https://github.com/philipperemy/keras-activations/blob/670b94f4e2710105e015de7e0d16dced41451aeb/examples/utils.py#L1

[2018-10-14 07:50] philipperemy commented on #10
Its' there isn't it?

[2018-10-16 13:57] #10 closed

[2018-11-30 19:36] FilipJanitor opened #11 "Visualizing activations in RNN while generating network output."
Hi, I might be missing something but I don`t quite see how I could record activations of layers while simultaneously using my network for predictions.

What I am trying to do is something like the pictures at the end of this blog [http://karpathy.github.io/2015/05/21/rnn-effectiveness/](http://karpathy.github.io/2015/05/21/rnn-effectiveness/) that are obviously generated using some sort of snapsho

[2018-12-03 07:45] philipperemy commented on #11
@FilipJanitor are you interested in evaluating the network on a sequence step by step?

[2018-12-03 07:45] philipperemy commented on #11
Also activations = outputs by the way here.

[2018-12-03 09:48] FilipJanitor commented on #11
I know for sure that obtaining the next character of the sequence using the `model.predict(input)` and picking the character using the output probabilities works as expected. I am not sure about the approach you suggested as I don't know how would such iterative feeding affect the internal state of the RNN.

But what you said about the activations and outputs sounds very promising. Assuming that `

[2018-12-06 00:49] philipperemy commented on #11
This `func` is a Keras function where you define an input tensor and an output tensor. By feeding the input tensor with a numpy matrix, you evaluate the value of the output tensor.

In that case, we list all the layers and we evaluate them one by one. So for your input, you get the output of every layer with this package.

Predict does the same but on the whole model. It will output the outputs of

[2018-12-06 00:50] philipperemy commented on #11
LSTM has two components when you evaluate a sequence: States and Outputs. We're only talking about outputs here.

[2018-12-06 21:36] FilipJanitor commented on #11
Yeah, sorry - I made it more complex than it is. It is all clear now :)
Thanks, for help!

[2018-12-07 01:03] philipperemy commented on #11
Ok happy I could help :)

[2018-12-07 01:03] #11 closed

[2018-12-31 13:30] guysoft opened #12 "Any way to make a heatmap?"
Hey,
So is there a way to write something similar to this: https://jacobgil.github.io/deeplearning/class-activation-maps

I'd appreciate a pointer how to modify ``display_activations`` to be able to write a heat map and would gladly PR.
I am not sure how it merges all the feature layers together.

[2019-01-03 05:04] philipperemy commented on #12
Hey @guysoft ,

Thanks for your comment! I spent ~1 hour to implement it. Here's what I got:

Please correct it and improve it!

[code]

I guess it's possible

[2019-01-17 20:45] waspinator opened #15 "visualize VGG16 activations"
Can this library visualize activations for VGG16, or any of the other pretrained models in Keras?

For example, if I run the code below I get the following error:

[code]

[code]

edit: looks like it works, but there might be an issue with the `display_activations` function.

[code]

![first](https://i.imgur.com/EYTLT2w.png)

[2019-01-20 01:41] philipperemy commented on #15
@waspinator looks great! I'm going to work on something. Display_activations is not very robust.

[2019-01-21 14:06] guysoft commented on #12
Hey, just updating I didn't forget this, just got a bunch of stuff that entered my pipeline and this has been pushed backed, just FYI

[2019-01-21 15:58] jgonsior opened #16 "LSTM Activations- Cell, Input Gate, Output Gate and Forget Gate"
Hey, awesome work with this repo!
In an LSTM network you have neurons acting as cells, some acting as input gates, some as output gates and some as forget gates. Do you know if it is possible to get the activation values with Keras for all of them? I guess the output of Keract by now is the resulting Cell Unit activation.

If you could point me to the right part of the code I can also implement th

[2019-01-22 01:07] philipperemy commented on #12
@guysoft ok np I'll leave it open then!

[2019-01-22 01:40] philipperemy commented on #16
By the way to your question:

I guess the output of Keract by now is the resulting Cell Unit activation.

The answer is yes that's correct!

[2019-01-22 01:52] philipperemy commented on #16
Ah maybe not the trivial. I did some experiments and:
[code]

https://github.com/tensorflow/tensorflow/issues/4094#issue-173787623

[2019-01-22 02:01] philipperemy commented on #16
So the other idea is to update the tensorflow_backend.rnn function where the loop is defined L3000 (control_flow_ops.while_loop). Because it's impossible in tensorflow to retrieve intermediate values in a loop, we have to use this trick:

https://stackoverflow.com/questions/53738731/tensorflow-while-loop-how-to-return-all-intermediate-values

Long story short if your loop follows this logic:
[code

[2019-01-22 04:41] philipperemy commented on #16
The second and more feasible idea is to return i, f, o, c along with the usual `output, states`. This is done in the call function. That way you don't need to access those variables inside the loop. The problem is that you'll have to update RNN and LSTM layers and it can be a bit tricky because they will diverge from the Keras codebase at some point.

[2019-01-22 04:42] philipperemy commented on #16
The final idea (the one I'd go for) is to use pure tensorflow.

[2019-01-22 04:42] philipperemy commented on #16
Good luck :)

[2019-01-23 08:32] philipperemy commented on #16
@jgonsior very interesting! Yes definitely update me whenever you have something new!
Great!

[2019-01-29 05:55] philipperemy commented on #15
[code]
@nadianaji

https://stackoverflow.com/questions/3823752/display-image-as-grayscale-using-matplotlib

[2019-01-29 06:45] nadianaji commented on #15
I used your keract.display_activation function, is it possible to show my activations in gray using this function?

[2019-01-29 07:06] philipperemy commented on #15
Nope you'll have to edit it yourself. It's in my plan to change keract.display_activation

[2019-01-29 15:13] nadianaji commented on #15
Thank you. it is a very good function and before that, I had several problems for visualizing the output of intermediate layers. you said before, there may be some issue with display_activation. Does it mean it maybe show the wrong thing?

[2019-01-31 04:37] nadianaji commented on #15
I put here my code and I have some models in my code when I want to use keract.get_activation it produces this error. what is the problem and how can I solve it?

[code]

[2019-01-31 06:10] philipperemy commented on #15
@nadianaji it's correct but not very robust. I'll have a look!

[2019-02-04 06:14] philipperemy commented on #15
https://github.com/philipperemy/keract/commit/cf4a0556bfda2ba92bbd20d9d4f1df762c272ebc @waspinator thanks going to close this issue.
@nadianaji feel free to open a new one.

[2019-02-04 06:14] #15 closed

[2019-02-05 07:42] AtrCheema opened #19 "Get activations while training"
Hello, is there a way to get activations/outputs of a layer during training of neural network?
Thanks for any suggestions.

[2019-02-06 08:45] philipperemy commented on #19
@AtrCheema you mean with Dropout?

[2019-02-06 08:45] philipperemy commented on #19
Please give more information thanks

[2019-02-07 11:28] AtrCheema commented on #19
@philipperemy Thankyou for your response. I want to visualize the output of certain layer in ConvNet while it is being trained. Let's suppose if second last layer has 10 neurons and last layer has 1 neuron. I want to see 10 values from second last layer while the network is being trained.

[2019-02-08 01:00] philipperemy commented on #19
@AtrCheema Can you show that on a code example? For example is it during fit()?

[2019-02-08 06:03] AtrCheema commented on #19
@philipperemy  Yes I want during fit. For example following code makes NN to learn add 2 time series.  I want to get output of second last layer which has 2 nodes

`# -*- coding: utf-8 -*-
"""
Created on Fri Dec 14 07:36:08 2018

@author: UNIST
"""

#https://machinelearningmastery.com/how-to-develop-convolutional-neural-network-models-for-time-series-forecasting/

# multivariate data preparation
#

[2019-02-08 07:40] philipperemy commented on #19
At every batch, every epoch, every what? @AtrCheema

[2019-02-08 10:11] AtrCheema commented on #19
@philipperemy At every time a 'sample' is evaluated and corresponding loss is calculated. I suppose this requires some modification in `fit` method of class `Model` in `training.py` but I am unable to figure out how.

[2019-02-11 17:03] qwertpi opened #20 "AtributeError when using on mobilenet transfer learned model"
When attempting to use keract to get the activations of a CNN given an image I get the error `AtributeError: Layer mobilenet_1.00_224 has multiple inbound nodes, hence the notion of "layer output" is ill-defined. Use get_output_at(node_index) instead`

Output of model.summary:
[code]
Full traceback:
[code]

Code defining model in my separate training code:
[code]

[2019-02-11 23:42] philipperemy commented on #19
@AtrCheema https://keras.io/callbacks/
This is what you need: `on_batch_end`.

[2019-02-14 10:50] philipperemy commented on #20
@qwertpi thanks for raising the issue. Will have a look once I have some free time :)

[2019-02-16 16:20] qwertpi commented on #20
I changed my code to be
[code]
instead of just
[code]
and now it works. I think this is beacuse the first layer is the entirety of the mobilenet model so layers[0] is a model in it's own right and that is the model that needs visualising

[2019-02-16 16:20] #20 closed

[2019-02-18 00:00] philipperemy commented on #20
@qwertpi thanks for the input!

[2019-02-20 12:58] soniamaitieo opened #21 "Use keract on GPU"
Hello !

I have used keract to get the activation of the layers of my model on CPU, it works good !

Now, I work on GPU (GeForce GTX 1080) .
To explain breifly : I install tensorflow gpu in a conda environment.
I train my model and now I want to get the activation of the layer for some images in my test dataset.

So, this is my model :
[code]
I use the function :

`layers_activations = keract.get_

[2019-02-22 16:29] tiagosamaha opened #23 "Keras Applications VGG16 has no attribute '_feed_targets'"
I'm trying to use transfer learning of VGG16, but when I run get_activations got AttributeError.

[code]

[code]

[2019-02-24 18:43] philipperemy commented on #23
Oi Tiago,

I'll have a look! Thanks for reporting!

[2019-02-25 13:10] tiagosamaha commented on #23
Hi Philippe!

In debugging I discovered that "_feed_targets" is assigned when compile/train the net. But with learning transfer this variable isn't set.

[2019-02-25 15:12] philipperemy commented on #23
@tiagosamaha can you maybe compile your model before making inference? It's usually a good practice to do so.

[2019-02-25 15:12] philipperemy commented on #23
I'm good to have a look in the case of transfer learning

[2019-02-25 15:23] philipperemy commented on #23
[code]
That code works.

[2019-02-25 15:25] philipperemy commented on #23
I could always compile the model in the library if not compiled but I guess it's safer to return an error saying model has to be compiled first. The loss somehow matters because it's used to compute the gradients. And Keract does not have any idea whatsoever of which loss was used to train the model. I guess here it's categorical cross entropy. Regarding the optimizer, it can be set to any random

[2019-02-25 15:27] philipperemy commented on #23
Something like this could be added:

[code]

@tiagosamaha

[2019-02-25 15:58] philipperemy commented on #23
Just for info I pushed a new code into master with what I discussed just above.

Feel free to try it.

[code]

https://github.com/philipperemy/keract/pull/25/files

[2019-02-25 15:59] philipperemy commented on #23
Merged https://github.com/philipperemy/keract/commit/83b2f573968920a10eab479f8c70db8299bf2733

[2019-02-25 15:59] #23 closed

[2019-02-25 15:59] tiagosamaha commented on #23
It is an alternative. Compile will do nothing, but create the variables.

Thanks for your attention!

[2019-02-25 16:00] philipperemy commented on #21
@soniamaitieo you're have a OOM (out of memory) error. It means that your GPU memory is too small to do what you want here. Just reduce batch size to 1. Should work.

[2019-02-26 19:01] philipperemy commented on #21
I'll close this issue for now. Please update me if it does not work.

[2019-02-26 19:01] #21 closed

[2019-03-03 09:21] guysoft commented on #12
Ok, managed to get back to this.

I can get the example to work with MINST. Note you need to:
1. clone keract,
2. place the file above in the ``examples`` folder
3. change ``checkpoints = glob('examples/checkpoints/*.h5')`` to ``checkpoints = glob('examples/checkpoints/*.h5')``.
4. run ``mnist.py`` to get checkpoints
5. run file above.

However I can't seem to adapt it to my network. Need to find

[2019-03-07 17:15] qwertpi commented on #12
I've got heatmaps working (albeit only with yellow for low activation and dark red for high activations) if you want to take a look at my pull request (#26)

[2019-03-07 17:20] philipperemy commented on #12
Awesome!

[2019-03-07 21:04] qwertpi commented on #12
I think I've got blue-dark red colours working, an example color bar can be found here https://drive.google.com/open?id=1KV_NuKnarpjVWTkzBNhAfVHBXjQAefq3

[2019-03-07 21:06] philipperemy commented on #12
Good job! Are you fairly confident in the implementation?

[2019-03-08 16:15] qwertpi commented on #12
I'd like to say yes but it's probably best if you check it over

On Thu, 7 Mar 2019 at 21:06, Philippe Rémy <notifications@github.com> wrote:

[2019-03-10 12:45] philipperemy commented on #12
@qwertpi I did a first check and it seems to be correct!
I'll do a second check tomorrow then will merge!

[2019-03-11 05:14] philipperemy commented on #12
@qwertpi merged!
https://github.com/philipperemy/keract/commit/72f022704dc7d2f0387e0a4ef1ee6eac5f2e552a
Do you need a new version of the library or can it wait for other changes?

[2019-03-11 05:14] #12 closed

[2019-03-11 05:16] #19 closed

[2019-03-13 03:28] anandkoirala opened #28 "python 2.7 compatibility"
import keract
  File "/apps/software/python/python-2.7.15/lib/python2.7/site-packages/keract/__init__.py", line 1, in <module>
    from keract.keract import *
  File "/apps/software/python/python-2.7.15/lib/python2.7/site-packages/keract/keract.py", line 5
    def _evaluate(model: Model, nodes_to_evaluate, x, y=None):
                                    ^
SyntaxError: invalid syntax

[2019-03-13 03:30] anandkoirala commented on #28
@philipperemy  can you please tell me why am i getting syntax error on model:Model definition?
i am on python 2.7.15

[2019-03-13 03:45] philipperemy commented on #28
Hum can you try python 3+? @anandkoirala

[2019-03-13 03:56] anandkoirala commented on #28
Hi, @philipperemy  it seemed working on python 3.5.2 on other computer.  but i can only run 2.7 on my computer because of compatibility issues with other programs.. is there any quick fix?
 I have a 'Xception' model trained with two input images (2 inputs). this is a Siamese network. i wanted to visualize the activation on the last layer. is your program ready to do this?
i tried to run some progr

[2019-03-13 06:59] philipperemy commented on #28
@anandkoirala for now only the compatibility with python 3.5 is ensured. It's not likely to work with python 2.7. There's no plan at the moment to make it compatible with python 2.7.

[2019-03-18 05:03] #28 closed

[2019-03-18 12:29] Stochastic13 opened #30 "Clarification on the returned shape for the gradients"
In regards to the output of `get_gradients_of_activations` vs `get_gradients_of_trainable_weights`:

I have a `Conv2D` layer with `16` `(5,5)` filters and `padding = 'same'`, which accepts input of dimension `(batch_size, 96, 96, 10)`.
Let's say I am using a batch of 2 inputs (`x.shape = (2, 96, 96, 10)`) vs a batch of a single input (`x.shape = (1, 96, 96, 10)`).
So the shapes returned by the thr

[2019-03-19 07:17] philipperemy commented on #30
[code]

[code]

[2019-03-19 07:47] philipperemy commented on #30
If this explanation is good enough, I will add it in the README :)

[2019-03-19 12:23] Stochastic13 commented on #30
Thanks for the explanation! It is good enough for me. :)

PS: Was thinking of a way to visualize these `gradients_for_trainable_weights` . One idea is to present `out_channels` number of rows, each being made from unraveled `in_channel` number of images of dimensions `filter_w , filter_h` . Personally, such a visualization would have come in handy to debug vanishing gradients with `relu` . I can s

[2019-03-19 12:43] philipperemy commented on #30
@Stochastic13 looks good to me. I'd be happy to review a PR on this. Will def be useful :)

[2019-03-19 13:07] #30 closed

[2019-03-26 06:35] philipperemy commented on #16
@jgonsior any progress since then? If you haven't found an easy it's ok I can maybe take the work.

[2019-03-26 07:23] philipperemy commented on #16
[code]

[2019-03-26 07:24] philipperemy commented on #16
I guess this function to parse the output works. It's such a pain that you can't redirect the stream easily with K.print_tensor.....

[2019-03-26 07:55] jgonsior commented on #16
Oh, sorry for not answering, I'm right now busy writing down my master thesis, and after I'm done I'll try to clean up my code and share it here (sometime in May probably). Basically I was able to get the activations with the print_tensor() method, but not in an easy straight-forward way.

[2019-03-26 08:35] philipperemy commented on #16
@jgonsior ok thanks for the update! Good luck with your master thesis ;)

[2019-04-04 18:11] CodeShareBot opened #32 "About the attributes of Keras Model"
When I try to run recurrent.py, some errors I got are like:

`Traceback (most recent call last):
  File "recurrent.py", line 37, in <module>
    utils.print_names_and_shapes(keract.get_activations(model, x_train))
  File "D:\python3\lib\site-packages\keract-2.5.1-py3.6.egg\keract\keract.py", line 77, in get_activations
  File "D:\python3\lib\site-packages\keract-2.5.1-py3.6.egg\keract\keract.py",

[2019-04-08 02:27] philipperemy commented on #32
I tried it myself from scratch and it works:

Try that and let me know if it works. I'll close this issue for now.

[code]

[code]

[2019-04-08 02:27] #32 closed

[2019-04-18 07:22] khuesmann opened #36 "Get activations, activation gradients and trainable weight gradients all together"
Hi,

is there a way to get the activations and gradients in one go?
Atm keract has to evaluate 3 times in order to get all the values, can it be done with one run?

Thank you!

[2019-04-18 11:08] qwertpi commented on #36
Which functions do you want to call together?

[2019-04-30 16:02] melaanya opened #37 "Running heat_map.py: 'NoneType' object has no attribute 'shape'"
Hello @philipperemy!
I'm currently facing the following issue: when running heat_map.py I'm getting the following error:

[code]

Library versions are as follows:
[code]

Could you please advise what might be the problem?

[2019-04-30 16:05] qwertpi commented on #37
I wrote the keract.display_heatmaps code that is ran in [this heat_map.py](https://github.com/philipperemy/keract/blob/master/examples/heat_map.py), is this the one you are running?

[2019-04-30 20:33] melaanya commented on #37
Yes, I run exactly the same heat_map.py from the repo.

[2019-05-01 06:59] qwertpi commented on #37
That's odd, @philipperemy wrote that code so it would be helpful to get some input from them but the error seems to suggest to me that the image that is being passed to get_activations contains no data

[2019-05-01 07:06] qwertpi commented on #37
Going out on a limb here but I noticed your location in your GitHub bio is in Russia and the heat_map.py retrieves the image it uses from Wikipedia. Is there any chance that the download could be getting blocked? What happens if you navigate to [https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/250px-Gatto_europeo4.jpg](https://upload.wikimedia.org/wikipedia/commons/thum

[2019-05-01 16:12] melaanya commented on #37
Yes, it has been retrieved fine, and it is predicted correctly: the output is
`Egyptian_cat (47.48033285140991)`

[2019-05-01 21:14] qwertpi commented on #37
That’s doubly odd. Are you sure you have an unaltered latest version of the
code? Could you maybe put the code you are running in a GitHub gist and put
a link to the gist in this thread?

On Wednesday, 1 May 2019, Anna Berger <notifications@github.com> wrote:

[2019-05-01 21:35] melaanya commented on #37
Sure, here it is [heat_map.py](https://gist.github.com/melaanya/5fe45bc2fd3c7144ca03dee1bb06040c).

[2019-05-02 15:00] pedrocolon93 opened #38 "Handle cycles in the network"
I am getting this error:

`Traceback (most recent call last):
  File "/Users/pedro/PycharmProjects/OOVconverter/visualize_drd.py", line 20, in <module>
    activations = get_activations(model, x)
  File "/Users/pedro/.conda/envs/OOVconverter/lib/python3.6/site-packages/keract/keract.py", line 77, in get_activations
    activations = _evaluate(model, layer_outputs, x, y=None)
  File "/Users/pedro/.

[2019-05-03 07:05] qwertpi commented on #38
Are you sure that you are using the latest versions of Keras and Keract? get_activations works fine for me and I presume @philipperemy has tested Keract for themself as well

[2019-05-05 19:05] andersfylling commented on #38
I have the same error. Here's my notebook: https://pastebin.com/MZyssya7

Scroll to the bottom to see the error message.

[2019-05-05 19:18] qwertpi commented on #38
@andersfylling I can't see the error @pedrocolon93 is mentioning in the Pastebin. Are you referring to the `AttributeError: Layer sequential_5 has multiple inbound nodes, hence the notion of "layer output" is ill-defined. Use `get_output_at(node_index)` instead.`? If so could you please add a plot_model line to your code as described [here](https://keras.io/visualization/) please as that error typ

[2019-05-08 17:14] andersfylling commented on #38
Hi, sorry; I must have confused myself with a previous issue I was dealing with. Anyway, here is the image: https://imgur.com/xBlffNX
![](https://i.imgur.com/xBlffNX.png)

This model is also sent through multi_gpu_model function from Keras.

I was getting the error @pedrocolon93 got when I was doing the following:
[code]

Not sure if that information may help you since that was before I found this

[2019-05-08 19:56] qwertpi commented on #38
Yeah I'd drop that `outputs = [layer.get_output_at(-1) for layer in model.layers[1:]]` line if you haven't already at it's not necessary with keras.
Regarding the multiple inbound nodes error, I think it's triggered by [this line ](https://github.com/philipperemy/keract/blob/11a1128913cc69c783d2f7c5920d1d3224a03792/keract/keract.py#L73) running layer.output to return a tensor which because it's ta

[2019-05-09 08:11] andersfylling commented on #38
Yeah I had to switch from layer.output to layer.get_output_at as I was getting that error when I manually tried to visualize the model.. (before I found this project). So I'd agree with you fully on that one.

[2019-05-10 07:08] philipperemy commented on #37
@melaanya I could run your example from a fresh install and it worked like a charm. Are you using a headless server? I am running on MacOS.

[2019-05-14 04:20] philipperemy commented on #37
I'll close this issue because I am unable to reproduce it.

[2019-05-14 04:20] #37 closed

[2019-05-14 04:20] philipperemy commented on #37
I'll close this issue because I am unable to reproduce it.

[2019-05-23 04:43] philipperemy commented on #38
When the network is a DAG, it still works from one of my experiment. But it's possible that the first output is the input layer and it will crash in tensorflow. This case should already be handled: https://github.com/philipperemy/keract/blob/278b06b2ff43a1bb7659c0b05e7a1d612a7e1538/keract/keract.py#L76

[code]

[2019-05-23 13:43] pedrocolon93 commented on #38
For me I had to go layer by layer to visualize it.  I tried to skip through the problem layers, but it seems that keras somehow puts one of the layers as both input and output.

I think the problem may be in the line
` nodes = [layer.output for layer in model.layers if layer.name == layer_name or layer_name is None]
`
A few lines above the one you cited. In my case my architecture is a multitask l

[2019-05-23 13:53] pedrocolon93 commented on #38
This I think is the problem, sorry I didnt read in details earlier.

[2019-05-23 13:54] pedrocolon93 commented on #38
One last thing, I modified some of the initial code to handle layers that are not 2D because my inputs are not pictures.  It should still work either way, just changed the plotting mechanism.

[2019-05-31 11:54] andersfylling opened #42 "Trying to apply heatmap on multi_gpu model"
[code]
[code]
[code]

my model
[code]

Here's the shape of the activations:
`array([[0.9661835 , 0.03381654]], dtype=float32)`

[2019-05-31 12:14] qwertpi commented on #42
If you are just getting some 2D activations that isn't an error, it just means those activations aren't images  (normally happens with dense layers etc. in CNNs as the neurons in those layers don't output images) so they aren't shown by keract. If all no acitvations are beeing shown beacuse of this then that is an issue

[2019-05-31 12:29] andersfylling commented on #42
Ah that makes sense. If I try to use the entire compiled model:
[code]

I get the error
`Layer sequential_2 has multiple inbound nodes, hence the notion of "layer output" is ill-defined. Use `get_output_at(node_index)` instead.`

[2019-05-31 13:08] qwertpi commented on #42
Yeah, keract and pretty much all keras visualisation code doesn't place nicely with models within models. If you only want to visualise the submodel I'd use get_activations(dmodel_parallel.layers[3]) that way it will only see the submodel and so should work.

[2019-05-31 13:09] qwertpi commented on #42
Yeah, keract and pretty much all keras visualisation code doesn't play nicely with models within models. If you only want to visualise the submodel I'd use get_activations(dmodel_parallel.layers[3]) that way it will only see the submodel and so should work.

[2019-06-11 07:54] sudonto opened #43 "AttributeError: 'Model' object has no attribute '_is_compiled'"
Hi @philipperemy , when I run example/vgg16.py, that error shows. Could you tell me how to solve this problem?
I am using Python3.5, Tensorflow 1.11.0, Keras 2.1.6. Thank you.

[2019-06-11 07:57] philipperemy commented on #43
Hum seems like you're using an old version of Keras @sudonto

[2019-06-11 08:09] sudonto commented on #43
OK, upgraded Keras to 2.2.3 and it works. Thanks.

[2019-06-11 08:09] #43 closed

[2019-06-11 08:32] philipperemy commented on #43
Ok I'm going to add that in the requirements.txt :)

[2019-06-11 09:35] sudonto opened #44 "Error: TypeError: Invalid dimensions for image data"
Hi @philipperemy , I am trying to visualize my activations but this error showed up:
`slow_conv1/add:0 (1, 2, 112, 112, 64)
Traceback (most recent call last):
  File "vis.py", line 107, in <module>
    keract.display_activations(activations)
  File "C:\Users\xxx\Envs\krtf\lib\site-packages\keract\keract.py", line 111, in display_activations
    hmap = axes.flat[i].imshow(img, cmap=cmap)
  File "C:

[2019-06-11 13:37] aezco opened #45 "Visualize resnet50"
Is it possible to visualize resnet50 models?

[2019-06-11 14:44] qwertpi commented on #45
The best way to check would be to try but I see no reason why it wouldn't work

[2019-06-11 14:46] qwertpi commented on #44
I'm guessing 3D convs won't work in terms of displaying but will be retrieved by keract fine. As you can see when running display_activations keract uses matplotlib which correctly complains that it can't show 3D images (think about it, how do you expect to see these 3D images on your 2D monitor anyway?)

[2019-06-11 15:12] sudonto commented on #44
Well, I'm expecting Keract to handle "the stacked images" internally, splitting and feeding it to matplotlib.

[2019-06-11 15:14] #44 closed

[2019-06-11 15:16] qwertpi commented on #44
That's beyond what Keras currently does but it could be made to do so with some numpy.reshape()'s

[2019-06-12 04:41] philipperemy commented on #44
@sudonto any PR is welcome :)

[2019-06-13 05:09] philipperemy commented on #45
Yep I think it will work! Let us know :)

[2019-06-13 05:09] #45 closed

[2019-06-23 12:01] zeyzeyc opened #46 "TypeError: Invalid shape (1, 64, 64, 3) for image data"
Hi, i am new to keras applications. i try to display heatmaps but getting this error.

Traceback (most recent call last):

  File "<ipython-input-13-7de1a703fa6f>", line 3, in <module>
    display_heatmaps(activations, image, save=False)

  File "C:\Users\ts1\Anaconda3\envs\tfenvnew\lib\site-packages\keract\keract.py", line 162, in display_heatmaps
    axes.flat[i].imshow(input_image / 255.0)

  F

[2019-06-23 20:02] qwertpi commented on #46
matplotlib can't display your image as you've left the batch size in, use `image[0]` and your problem should be solved

[2019-06-24 16:55] bjtho08 opened #47 "OOM when trying to get activations for large image"
I realize this is a memory issue, but I was wondering if you have any ideas as to how I can circumvent the issue. When I run predictions on large images I cut them into smaller tiles and reassemble them afterwards, but I have trouble seeing how to properly do that with the data structure delivered by `keract.get_activations()`.

[2019-06-24 19:34] qwertpi commented on #47
[Here](https://github.com/philipperemy/keract/blob/6471feb95a984ff195991e9c74b9597b34863a15/keract/keract.py#L71) it is mentioned that get_activations returns a dictionary with the keys as the layer names and the values as the activations. [This thread](https://stackoverflow.com/questions/1781571/how-to-concatenate-two-dictionaries-to-create-a-new-one-in-python) suggests that dict_1.update(dict_2)

[2019-06-24 19:44] bjtho08 commented on #47
@qwertpi thanks for the suggestions, I'll have to check that out. I only get OOM because I am running a rather wide net on a GPU. I have 126 GiB RAM installed on the machine, but only a single 1080 TI with 11 GiB VRAM. I guess, if I could switch the model from GPU to CPU when predicting, then it would fix the OOM issue entirely. Do you know if that is easily manageable?

[2019-06-24 19:46] qwertpi commented on #47
I've never done it myself but I've heard you can use
[code]

[2019-06-25 15:51] marangiop opened #48 "Why are all the layers skipped?"
I followed one of the examples on the repoistory. Here is the keract code I am using and below you can see the error. Why are the layers being skipped? Do I need to change the number of filters to 1 for all my convolutions? How does that make sense?

import keract
activations = keract.get_activations(model, x_training)
first = activations.get('conv2d_1/Relu:0')
keract.display_activations(activatio

[2019-06-25 15:52] qwertpi commented on #48
My guess is you've inputted 89 images instead of just the 1

[2019-07-03 02:19] philipperemy commented on #48
@marangiop use only one image. You're going to have a hard time if you want to visualise all the layers with 89 images at the same time.

[2019-07-03 02:19] #48 closed

[2019-07-03 02:21] philipperemy commented on #47
@bjtho08 A simple command like this should force the execution on the CPU:

[code]

[2019-07-03 02:26] philipperemy commented on #47
The second way to do it is to run one image at a time. Your GPU memory should be sufficient to do that.

[2019-07-03 02:26] philipperemy commented on #46
Maybe we should add some additional checks and make the error more explicit here.

[2019-07-03 14:43] qwertpi commented on #46
I've made a PR #49

[2019-07-04 00:41] philipperemy commented on #46
@qwertpi awesome! You're so fast :)

[2019-07-04 00:42] philipperemy commented on #46
2.6.1 released with the `fix` parameter

[2019-07-04 17:07] qwertpi commented on #46
@zeyzeyc if you could download the new version of keract, verify it works, and then hopefully be able to close this issue then that would be great

[2019-07-05 02:06] philipperemy commented on #46
@zeyzeyc I'm going to mark this issue as solved. Feel free to re-open the issue should you have any problems.

[2019-07-05 02:06] #46 closed

[2019-07-05 02:07] philipperemy commented on #47
Feel free to re-open it if you still encounter the problem.

[2019-07-05 02:07] #47 closed

[2019-07-12 14:48] pedro-r-marques opened #50 "_standardize_user_data may return None for sample_weights"
The tensorflow branch the keras engine was modified such that model._standardize_user_data will now return None instead of an empty list when sample_weights are not defined.

Although the code states:
[code]

The following commit seems to have changed the default sample weights return from [] to None.

https://github.com/tensorflow/tensorflow/commit/41abdd1212777a60e0d97ada4a39d13f2b9014a1

This i

[2019-07-14 14:59] qwertpi commented on #42
@andersfylling Did you ever get this to work?

[2019-07-14 15:00] qwertpi commented on #36
@khuesmann do you still want this doing?

[2019-07-14 17:57] #42 closed

[2019-07-16 09:30] philipperemy commented on #50
Thanks for reporting @pedro-r-marques do you have any ideas to fix that?

[2019-07-17 08:10] pedro-r-marques commented on #50
The following check after the call to ```_standardize_user_data``` fixes it for me.

[code]

Apologies but I've not had time recently to submit a pull request.

[2019-07-17 08:14] philipperemy commented on #50
@pedro-r-marques no problem. What you're doing already helps a lot :)

[2019-07-21 23:30] marangiop opened #52 "What does the numbered bar on the right mean?"
Hello, I have been able to run keract without problems on my CNN, but I am just wondering what does the numbered bar going from 0.2 to 0.8 mean?
<img width="325" alt="right_bar_keract" src="https://user-images.githubusercontent.com/29339953/61598570-e94eed80-ac17-11e9-89ec-631dcf19b63e.PNG">

[2019-07-22 07:00] qwertpi commented on #52
It's a key telling you that activations at 0.2 are that dark purple colour (the activations for that layer don't go far below 0.2), activations at 1.0 are that bluey-green colour, 1.4 are that greeny colour, 1.6 are that yellowy greeny colour with ones slightly above 1.6 (the activations for that layer don't go far above 1.6) being yellow.
You might also be interested to know that if you're runnin

[2019-07-22 16:05] marangiop commented on #52
@qwertpi Thank you for your reply.

It is clear now that the numbers on the legend indicate activation. But my questions is: why such values? Is this dependent on the type of activation function (e.g. ReLu) used? Also, why do you have variation in the actual numbers of the scale across different conv layers (e.g. sometimes the maximum is 2.0, sometimes 3.5, sometimes 0.1)?

Is this an absolute sca

[2019-07-22 16:26] qwertpi commented on #52
The term activation can be somewhat confusing as it has strong connotations with activation functions, in reality, all that get_activations does is allow you to peer inside your model by getting the *output* of your model at a particular layer when the network is given a particular input.
This output is however obviously affected by the activation function, in this case, you can see that as the la

[2019-07-31 08:52] jordangierschendorf opened #53 "Error of placeholder tensor in _evaluate function"
Hi,
First, thanks for this great work !
I'm trying to use your repo but I have an error of placeholder shape in _evaluate function.

I have created a sequential model based-on VGG16 to perform binary classification:

`vgg_model = applications.VGG16(weights=None, include_top=False, input_shape=(224, 224, 3))`
`model = keras.models.Sequential()`
`model.add(vgg_model)`
`model.add(Flatten(input_shape=

[2019-07-31 13:27] jordangierschendorf commented on #53
Hi again,

I solved my problem by changing my initial model definition to:

`vgg_model = applications.VGG16(weights=None, include_top=False, input_shape=(224, 224, 3))`
`model = keras.models.Sequential()`
`model.add(InputLayer(input_shape=(224, 224, 3)))`
`for layer in vgg_model.layers:
      model.add(layer)`
`model.add(Flatten(input_shape=model.output_shape[1:]))`
`model.add(Dense(256, activatio

[2019-07-31 13:28] #53 closed

[2019-08-14 01:39] marangiop opened #54 "Is there any way of reversing an activation map from Keract or set values of classes?"
<img width="600" alt="sigmoid_activation_output_compared_with_predicted" src="https://user-images.githubusercontent.com/29339953/62988255-9560ae80-be3b-11e9-88d0-949b3cae99a9.PNG">

I am working with the U-net neural network for image segmentation (i.e. binary classification at every pixel). I feed a test image (top), then I get a prediction out by the network (bottom left) and then I used the ker

[2019-08-14 08:33] qwertpi commented on #54
I have to say this is a somewhat unconventional way of visualising U net segmentation maps but it sounds like you need a different [matplotlib colour map](https://matplotlib.org/tutorials/colors/colormaps.html), you can change the colour map through the `cmap` argument for `display_activations`

[2019-08-26 15:20] BraveDistribution opened #55 "Using keract with flow_from_directory() and datagenerators?"
Is there a way to use keract with flow from directory and datagenerators?

def plot_images_from_layers(model_path):
    model = load_model(model_path)
    activations = get_activations(model, x, "fc1")

I have a trained model, I would like to see what "fully connected layers" and "convolutional layers" see. I don't have "x" input array, but I use generators/flow_from directory functions. Is there

[2019-08-26 15:27] qwertpi commented on #55
Typically you only want to input one image at a time to Keract meaning it's probably easier for everyone involved if you just load one from disk.

[2019-08-26 16:06] BraveDistribution commented on #55
Thanks, will try!

[2019-08-26 16:06] #55 closed

[2019-09-04 01:46] philipperemy commented on #54
@marangiop what do you want exactly? changing the color from yellow to black? Having a threshold to color all the points greater than 0.5 to black and the rest to white?

[2019-09-16 04:11] tirthajyoti opened #58 "Issue with a Keras model created with a custom function"
Hi, thanks for your excellent work!

I am finding an issue with a code I am working on. I made a custom function to create a `Sequential` model using `ImageDataGenerator` class and then pass on a suitable input vector along with the model to your `get_activations` function but it throws up an error.

Please allow me to describe the problem clearly.
Here are my custom functions ([here is my repo](h

[2019-09-16 05:01] tirthajyoti commented on #58
Hi,

The issue is resolved but it looks like I have to use pure (old version?) Keras only. `tensorflow.keras` has issue with your package and throws this `localhost` error that I showed above.

[2019-09-17 10:50] starkgate opened #59 "TypeError: can only concatenate list (not "NoneType") to list"
I'm getting the following error when trying to use the example you gave for keract:
[code]

The code (just the part that crashes. The model itself compiles, trains and evaluates just fine):
[code]

[2019-09-17 14:35] qwertpi commented on #59
What's your model architecture and what is the shape of test_volumes_mri? Also, are keras, keract, TensorFlow etc. up to date on your system?

[2019-09-17 15:18] CreeperLava commented on #59
I'm using the new TF 2.0 RC1 release. test_volumes_mri is a 4 dimensional tensor, with an empty 4th dimension (eg 250x250x250x1). Model architecture is essentially Conv2D alternating with BatchNormalization to get from 250x250x250 to 250x250x1.

[2019-09-17 15:34] qwertpi commented on #59
It might be that TF 2.0 is messing with keract, we have already had a report (#58) of tf.keras in TF 2.0 not playing nicely with keract

[2019-09-17 15:36] CreeperLava commented on #59
That's my assumption too. It's a shame, I really wanted to see what keract had to offer

[2019-10-10 22:22] FlorinAndrei commented on #59
Same issue with TF 1.14

This is the model:

https://github.com/FlorinAndrei/TensorAim/blob/keract_issue/old/model.py

This is the training script:

https://github.com/FlorinAndrei/TensorAim/blob/keract_issue/old/train_real_world_model.py

I tried to do get_activations() / display_activations() in this script:

https://github.com/FlorinAndrei/TensorAim/blob/keract_issue/old/camera_live_test.py

[2019-10-11 05:15] philipperemy commented on #59
@starkgate @FlorinAndrei work to support newest versions of Tensorflow 1.14 and 2.0 will start soon :)

[2019-10-11 05:48] philipperemy commented on #59
@FlorinAndrei can you extract the simplest snippet where the call to keract failed?

[2019-10-11 08:20] philipperemy commented on #59
Fixed in https://github.com/philipperemy/keract/pull/65

[2019-10-11 08:20] #59 closed

[2019-10-11 08:21] philipperemy commented on #58
@tirthajyoti Can you try to update to tensorflow 2.0, fetch keract (master) and test it again?

[2019-10-11 08:22] philipperemy commented on #50
Fixed in https://github.com/philipperemy/keract/pull/65.
I used a try catch but your solution also works.

[2019-10-11 08:22] #50 closed

[2019-10-14 06:22] philipperemy commented on #52
I'll close this issue @marangiop feel free to re-open it should not it be clear enough. Thanks

[2019-10-14 06:22] #52 closed

[2019-10-18 07:53] philipperemy commented on #36
Good question. I don't see any problem to call 3 functions instead of 1. Especially because the serve different purposes.

[2019-10-18 07:53] #36 closed

[2019-10-18 07:53] philipperemy commented on #58
Probably fixed with the latest. @tirthajyoti please re-open if it's not solved.

[2019-10-18 07:53] #58 closed

[2019-10-18 08:34] philipperemy commented on #54
Closed due to inactivity.

[2019-10-18 08:34] #54 closed

[2019-10-23 15:11] illith opened #67 "IndexError with multiple inputs"
Thank you for your work! display_activations is work ,but i got the following error with display_heatmaps():
[code]

and my code is :
[code]

Thank you!

[2019-10-23 15:19] illith commented on #67
ant

[2019-10-23 15:36] qwertpi commented on #67
I wrote the heatmap code! Having had a flick through the current source code it seem to me that the heatmap code has less support for various image formats than get activatons. Is your image grayscale by any chance?

[2019-10-23 15:46] illith commented on #67
Thanks for your work.  the heatmap code is good ,the error may beacouse my multiple inputs.  The img1 is color image（video frame），img2 is optical flow color image， img3 is spectrum image（color image）。

[2019-10-23 15:48] qwertpi commented on #67
Are they channels first or channels last?

[2019-10-23 15:54] illith commented on #67
@qwertpi      "image_data_format": "channels_last"

[2019-10-23 15:55] qwertpi commented on #67
That should work fine with display_activations, what's the output of `imgx.shape()`?

[2019-10-23 16:04] illith commented on #67
@qwertpi yes! display_activations is work fine.
when  np.array(imgx)->(240,320,3)
 and then np.expand_dims(imgx,axis=0)->(1,240,320,3)

[2019-10-23 16:09] qwertpi commented on #67
Sorry I meant display_heatmaps. Your imgx seems fine, what's the output of `activations.shape()`

[2019-10-23 16:20] illith commented on #67
@qwertpi     print(activations.shape):
AttributeError: 'collections.OrderedDict' object has no attribute 'shape'

[2019-10-23 17:20] qwertpi commented on #67
Sorry my mistake run `print([len(a) for a in activations.values()])`

[2019-10-24 01:22] illith commented on #67
@qwertpi         [(1, 10, 200)]

[2019-10-24 08:13] qwertpi commented on #67
That'll be the problem, for that layer the code needs to be doing `img = acts[0, :, i]`, I'll put together a pull request now

[2019-10-24 09:10] illith commented on #67
i have change the sorce code
`for i in range(nrows * ncols):
            if i < acts.shape[-1]:
               # print(acts.shape)
                img = acts[0, :, i]`
but i meet a new error```
`2019-10-24 16:45:45.272836: I tensorflow/stream_executor/dso_loader.cc:152] successfully opened CUDA library libcublas.so.10.0 locally
[(1, 10, 200)]
concatenate_3/concat:0 (1, 10, 200)
Traceback (most rec

[2019-10-24 09:39] illith commented on #67
@qwertpi  in that code ``i meet this :
`  File "/home/sipl-dl/anaconda3/envs/keras/lib/python3.6/site-packages/keract/keract.py", line 233, in display_heatmaps
    if data_format == 'channels_last':
NameError: name 'data_format' is not defined`
and then i add `data_format='channels_last'`
but i  meet

`File "/home/sipl-dl/code/streamer/attention_map_keract.py", line 92, in validate
    display_hea

[2019-10-25 07:00] philipperemy commented on #67
Pushed to 2.8.4! Thanks :)

[2019-10-25 07:00] #67 closed

[2019-10-25 10:29] illith commented on #67
Most of the activation maps I've seen are irregular shapes like the example in project profile, but this one is linear,I haven't seen before.··
output of  display_activations :
``
![Figure_123](https://user-images.githubusercontent.com/10329923/67564250-2f56a880-f755-11e9-879b-4c3e294fcdaa.png)

[2019-10-25 10:38] qwertpi commented on #67
If you look at the output of display_activations you should be able to see that that output of each neuron is 1D not 2D hence why some of the heatmaps might look a bit weird as that 1D activation has to be extrapolated to cover an entire 2D image in a heatmap

[2019-10-25 11:01] illith commented on #67
@qwertpi Thank uuuuuuuuu! Your answer makes me understand! I have another question, what is the reason for the output to be 1D? My network is xception, then reshape and send it to Gru. Is it right?

[2019-10-25 11:04] qwertpi commented on #67
It's probably just that layer, could you run
[code]
and upload model.png then we'll be able to get a sense for the output shape of all the layers in the model

[2019-10-25 11:19] illith commented on #67
@qwertpi Thank you for taking the time to help me! My network is ：
![model](https://user-images.githubusercontent.com/10329923/67567262-2cab8180-f75c-11e9-85aa-cdc46a400183.png)

[2019-10-25 11:23] qwertpi commented on #67
It looks to me like for heatmaps you'd want a layer from the xception submodel as that has convolutional layers that will produce image like output whereas the time distributed layers not long after the end of the xception model lose that 2 dimensionality ready for input to the dense layer

[2019-10-25 11:45] illith commented on #67
@qwertpi  thank you！Deep learning is so much, and I know so little······hhhhhh Thank you for helping me so much。I'm trying to delete the time distributed layer.

[2019-10-25 12:07] qwertpi commented on #67
What do you mean by "I'm trying to delete the time distributed layer."?

[2019-10-25 12:41] illith commented on #67
@qwertpi  I‘m trying to produce the right heatmaps  and changing the code to avoid 1D output.  I had changed the time distributed layer but failed。。。

[2019-10-25 12:45] qwertpi commented on #67
I'd advise against removing the time distributed layers as they will be helping your model to make good predictions. Instead, get the output at block14_sepconv2_act or any other xception layer as they will still be impacting on the final prediction and will give a 2D output

[2019-10-25 13:23] illith commented on #67
@qwertpi when i use model.summary。 output as follows:
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
image (InputLayer)              (None, 299, 299, 3)  0
__________________________________________________________________________________________________
audio (InputLay

[2019-10-25 14:13] qwertpi commented on #67
1. Keract doesn't handle submodels well so to get block14_sepconv2_act you'd need to do `get_activations(model.layers[3], x, layer_name='block14_sepconv2_act')`
2. Heatmap was designed with images and convolutional laayers in mind so won't work well on attention layers

[2019-10-25 14:53] illith commented on #67
@qwertpi ！！！great！ thank you！！！！！！！！

[2019-11-04 20:25] danvargg opened #69 "NameError: name 'k' is not defined"
Hi,

I've been getting below issue trying to visualize activation heatmaps . I can't seem to understand why, since as I understand is just the `channels_last` format from keras backend.

I can see that in below line of `keract.py` the K is capital and in `data_format = k.image_data_format()` is not?

https://github.com/philipperemy/keract/blob/722d2588ac588d2ef6f9832758020deba7e70b3f/keract/keract

[2019-11-05 18:23] qwertpi commented on #69
Sorry about the problem with the capitalisation. What format is *first* in, Keract is expecting a numpy array.

[2019-11-05 18:31] danvargg commented on #69
Thanks a lot for the response.

Here's `first`:
[code]

I was able to resolve the issue (manually changing `if len(img.shape()) ==...` with `if len(img.shape) ==...` to avoid the tuple error.

Now I can see the heatmaps, but then the functions split the image when mapping the heatmap.

[code]

[2019-11-05 18:34] qwertpi commented on #69
I can't see an `img.shape()` in your original traceback but I'm glad it's working for you now, what do you mean by "the functions split the image"?

[2019-11-05 18:37] danvargg commented on #69
First's name is `bAct-0/Relu:0`

Before applying `keract.display_heatmaps`:
(80, 160, 1)

After applying `keract.display_heatmaps`:

[code]

Should I keep the batch size of first?

[2019-11-05 18:42] qwertpi commented on #69
Does the image look alright? I'm fairly confident that that is just the dimensions of the activation

[2019-11-05 18:44] danvargg commented on #69
The image is split in two.

[2019-11-05 18:49] qwertpi commented on #69
Can you upload a picture? I'm struggling to visualise what you mean

[2019-11-05 19:47] danvargg commented on #69
Let me take a second look, the image gets downsized before that.

[2019-11-06 01:27] danvargg commented on #69
Btw. My problem is a regression one, not classification. Is that an issue?

[2019-11-06 13:31] philipperemy commented on #69
Problem of K corrected:

https://github.com/philipperemy/keract/commit/ce6df18d5f76f8dc69cbe611db881375bce552e2

[2019-11-07 07:58] philipperemy commented on #69
@danvargg Did you solve your issues?

[2019-11-07 13:24] danvargg commented on #69
Thanks for the fix. Sorry for the late reply. I did manage to do the heatmaps (reducing input image size to match the conv).

But I still can't get the heatmaps right. Here's an example with images. Last image is the heatmap.

https://github.com/danvargg/data-science/blob/master/layersVis-Copy1.ipynb

[2019-11-08 17:53] ajinkya933 opened #70 "error of image size in vgg16.py"
When I run python vgg16.py I get:

ValueError: Cannot feed value of shape (1, 1, 224, 224, 3) for Tensor 'input_1:0', which has shape '(?, 224, 224, 3)'

How to remove this error ?

[2019-11-09 08:29] philipperemy commented on #70
I ran the file vgg16.py on master and it worked perfectly.

It seems that your problem comes from the shape of the image.

You should have (1, 224, 224, 3) and not (1, 1, 224, 224, 3).

So try to do image[0] and not image.

It should work!

[2019-11-09 08:29] #70 closed

[2019-11-09 09:42] philipperemy commented on #69
@danvargg do you think it comes from the library or from your code?

[2019-11-09 14:02] qwertpi commented on #69
@danvargg could you run https://github.com/philipperemy/keract/blob/master/examples/heat_map.py so we can begin to get an idea for where the issue lies

[2019-11-09 18:26] ajinkya933 commented on #70
activations = keract.get_activations(model, image[0])

I changed to image[0]as shown above  but now I get error:
File "C:\Users\Ajinkya\Anaconda3\lib\site-packages\keras\engine\training_utils.py", line 126, in standardize_input_data
    'with shape ' + str(data_shape))
ValueError: Error when checking input: expected input_1 to have 4 dimensions, but got array with shape (224, 224, 3)

How to resol

[2019-11-10 02:44] philipperemy commented on #70
@ajinkya933

[code]

Or

[code]

I'd say.

[2019-11-10 03:44] philipperemy commented on #38
@pedrocolon93 thanks! Don't hesitate to submit a PR to improve the library :)

[2019-11-10 15:49] hmexx opened #71 "Discovering the input(s) that maximizes activation of each CNN filter"
This isn't an issue; rather an enquiry.

Any guidance as to how would one would use your library to find the inputs that maximize each layer/filter?

The first thought that comes to mind is to send random inputs through and measure the activations, but that doesn't feel very efficient.

[2019-11-10 18:37] qwertpi commented on #71
You'd probably want to borrow some code from https://github.com/keras-team/keras/blob/master/examples/conv_filter_visualization.py but to be honest I wouldn't know where to start

[2019-11-11 14:08] danvargg commented on #69
Will run between today and tomorrow.

[2019-11-11 14:17] danvargg commented on #69
It creates the cat's heatmaps with no issue.

![image](https://user-images.githubusercontent.com/13923005/68593743-227bc980-0464-11ea-8a31-643f46e9272d.png)

My model is already an `.h5` compiled model.

[2019-11-13 13:05] philipperemy commented on #71
I guess you could use the same metholody as done in:

https://christophm.github.io/interpretable-ml-book/adversarial.html.

What do you mean exactly by maximizing each layer/filter?

A Convolution output is going to be something `[batch, h, w, out_channels]`.

What do you want to maximize actually?

[2019-11-13 15:50] qwertpi commented on #71
The way I see it you can either aim to get to maximise the maximum output of a specific layer(not easy to do with gradient-based methods) or you can aim to get the maximize the mean of the outputs of a specific layer (easier to do with gradient-based methods)

[2019-11-18 16:51] sarim-zafar opened #73 "Sample code for text based inputs?"
Hi, I recently came across your tool and it is wonderful. I just wanted to ask if you plan on supporting text-based inputs?

[2019-11-19 13:17] philipperemy commented on #73
Hi! Thanks a lot! Happy to hear that! There's no plan to support text-based inputs at the moment. What would you need?

[2019-11-19 21:51] hbarovertwo opened #74 "Calling get_activations in a loop causing problems"
Hopefully someone can point me in the right direction.
I'm using get_activations to do some computations on different layer's output and do something with the result. The workflow is like:

model = VGG16()
model.compile(...)
for item in list:
    load_img
    get_activations(model, img)
    # do stuff with activation layers

each time I loop through takes longer and longer. I've narrowed it down t

[2019-11-19 23:05] hbarovertwo commented on #74
@philipperemy I've narrowed it down to the _evaluate call in get_activations.

[2019-11-20 13:07] philipperemy commented on #74
@hbarovertwo Could it be possible that the model gets re-compiled everytime the function is called? Do you have a code snippet that I can try to investigate too?

[2019-11-20 13:09] philipperemy commented on #71
Let us know if you need more help! I'll close this issue for now

[2019-11-20 13:09] #71 closed

[2019-11-20 13:52] philipperemy commented on #74
![image](https://user-images.githubusercontent.com/4516927/69244495-64390c80-0be8-11ea-8966-0e62a7b7fb1d.png)

I don't see any major problem here. It does not look like it's increasing over time. There are some outliers though.

[code]

[2019-11-20 15:44] hbarovertwo commented on #74
I'll do a run now and plot the times as well. I compile the model once outside the loop as you do, and loop through a list of unique images. It seems the bug appears when getting activations for different images.

[2019-11-20 15:54] hbarovertwo commented on #74
![foo](https://user-images.githubusercontent.com/29473325/69254299-eb479f80-0b6a-11ea-876c-88608e634b6c.png)

And here is the snippet of code that causes the behavior:

`import os
import numpy as np
from keract import get_activations
from keras.applications.vgg16 import VGG16
from keras.applications.vgg16 import preprocess_input
from keras.preprocessing.image import load_img, img_to_array
from tqd

[2019-11-20 16:16] hbarovertwo commented on #74
![foo](https://user-images.githubusercontent.com/29473325/69256206-fbad4980-0b6d-11ea-8973-3b060776d7b2.png)

And it quickly becomes problematic

[2019-11-20 18:15] sarim-zafar commented on #73
Oh just something to visualize the importance of input tokens with respect to the prediction. I managed to write some code myself to do it.

[2019-11-20 18:15] #73 closed

[2019-11-25 11:28] philipperemy commented on #69
@danvargg I'm going to close the issue. Can you open a new one if it still does not work?

[2019-11-25 11:28] #69 closed

[2019-11-25 11:28] philipperemy commented on #74
@hbarovertwo that's weird. Could it be because of the preprocessing or the fact that the model gets compiled every single step?

[2019-11-25 11:31] philipperemy commented on #74
Can you try with an update version of keras? I can't reproduce the problem myself... And can you provide a ZIP of your images or something that can help me reproduce the error?

[2019-11-25 21:46] danvargg commented on #69
yes, sorry, I just got back.

I'll try a few more things with the heatmaps, if I can't make it work will open a separate issue.

BTW, this is a really neat library, has been really helpful.

[2019-11-25 22:18] hbarovertwo commented on #74
@philipperemy The problem seemed to be in the activations call, I tested the times for each block in the loop and that was the only block that grew with iterations. I was only interested in the output of 3 intermediate layers so I ultimately just used a backend function to run inputs through and catch the outputs of interest. Using the same package versions as mentioned above, going this route did

[2019-11-25 22:18] #74 closed

[2019-11-26 00:24] philipperemy commented on #69
@danvargg thanks we are working hard to make a good lib :)
Good luck!!

[2019-11-26 00:26] philipperemy commented on #74
@hbarovertwo Ok thanks for your analysis. If others people encounter this problem, we will re-open this issue. Thanks again!

[2020-01-05 04:57] #38 closed

[2020-01-05 04:57] philipperemy commented on #38
Closed due to inactivity.

[2020-01-05 04:57] philipperemy commented on #16
I'm going to close this issue as it's very hard to achieve with Keras...

[2020-01-05 04:57] #16 closed

[2020-01-15 16:51] barloccia commented on #4
Hello!
I am in a similar situation. I have a network composed by: CNN for feature extraction + LSTM for sequence classification. The input of the network are 30 frames, and the final output is a class over 4 different ones. I would like to display the feature (extracted before the LSTM) that makes the classification and visualized them over all the frames that have been fed into the lstm. Is that

[2020-01-16 10:23] philipperemy commented on #4
@barloccia can you open a new issue? And provide a full snippet that is easy to run (smallest python code that can reproduce your problem)? Thanks

[2020-01-16 11:13] barloccia opened #82 "Visualize features into a CNN+LSTM for video classification"
Hi to all,
The network on which I am working aims to classify video sequences composed by 30 frames. Each sequence is labelled with 1 of the 4 classes considered, let's say: [0,1,2,3].
I want to use a CNN feature extraction module, then feed all the features of each image in an LSTM to predict the class. So we are talking about transfer learning: in my example the CNN is InceptionV3.
The idea is t

[2020-01-20 10:22] barloccia commented on #82
Any suggestions on this? I correctly get the activations of the network, but when i try display_heatmaps I receive the following error: TypeError: Invalid dimensions for image data.
For a single batch I have 30 frames, so the input of the network is suppose to be this one, how can I visualize results so? It's possible to have heatmaps for each time step?

[2020-01-20 11:09] barloccia commented on #67
Sorry for repeating but i should do the same thing and I don't understand a point.
I have a network such:
`inc = InceptionV3(
    weights='imagenet',
    include_top=False,
    pooling='max',
    input_shape=(shape[0], shape[1], 3)
    )

    for layer in inc.layers:
        layer.trainable = False

    model = Sequential()
    model.add(
            TimeDistributed(inc, input_shape=(chunk_frames,

[2020-01-20 15:51] barloccia commented on #82
Ok I managed a bit the code. But now I have the following problem (that was the main one even before): My model requires 30 images as input to feed the model. If I compute the activations to some layer I receive something like (30, 299, 299, 3) which doesn't correspond to the expected input and so return 'Skipped. First dimension is not 1'. How can I visualize the heatmap to one of the images (the

[2020-01-23 10:33] philipperemy commented on #82
@barloccia call the lib with just one image at a time ;)

[2020-01-23 10:34] philipperemy commented on #82
Instead of having (30, 299, 299, 3), you should pass a tensor of shape (1, 299, 299, 3).

[2020-01-23 13:14] barloccia commented on #82
Yes but I have some tricks. Firstly I have no direct access to the "sub-layers" of the time distributed one. In a single pass I have an input of (30, 299, 299, 3) and I would like to generate saliency map for every one of them. My idea is then to save the gradients at each time step of the LSTM. Then later on retrieve those gradients and compute grad cam. Is that makes sense? Otherwise I don't rea

[2020-03-01 22:47] jonashaag opened #84 "display_heatmaps does not work with single-channel prediction"
If your prediction results has only 1 channel, then the `.subplots()` call will not return an object that has the `.flat` attribute, so the function will fail with an `AttributeError`.

[2020-03-01 22:52] jonashaag commented on #84
Same thing for `display_activations`. Here's some code that fixes a single layer's activation info:

[code]

[2020-03-10 07:11] sonfire86 opened #85 "Inner layer processing"
Error `the_input:0 is both fed and fetched.`

`act = get_activations(loaded_model, img)`

![image](https://user-images.githubusercontent.com/26105224/76288241-1ac01a80-62c8-11ea-8e52-856666cc0961.png)
How can I transfer inner layers if this does not work?
`[layer.name for layer in loaded_model.get_layer('efficientnet-b0').layers]`

[2020-03-12 13:18] philipperemy commented on #85
@sonfiree it's a common problem with tensorflow

https://github.com/philipperemy/keract/blob/93b0ed54680b2679602bc70dbc304aedf9b0c8cf/keract/keract.py#L152

Here is the line that should avoid this problem.

But seems like you renamed your input to `the_input` and it did not match this criteria of `'input_' in node.name.

So easiest is for you to rename your `the_input` by `input_something_you_want

[2020-03-12 13:27] philipperemy commented on #84
@jonashaag do you have an example where I can reproduce the bug?

[code]

When I run this dummy example it seems to work properly (1 channel).

Thanks!

[2020-03-12 14:51] sonfiree commented on #85
Im rename first layer to `the_input_`. My error
[code]

[2020-03-12 14:52] sonfiree commented on #85
Im used `tf.keras`

[2020-03-12 14:55] philipperemy commented on #85
@sonfiree can you share some of your code so that I can reproduce it?

It seems like you're not feeding this placeholder with data.

[2020-03-12 14:59] sonfiree commented on #85
[code]

[2020-03-12 15:54] jonashaag commented on #84
Yes since your training data has explicit batch size. That’s not the case if you use “simple” Keras fit() syntax where batching is performed by Keras.

[2020-03-13 12:20] philipperemy commented on #84
@jonashaag thank youu

[2020-03-13 12:24] philipperemy commented on #85
@sonfiree can you share more?

If I do that on my model, I would get
[code]

[2020-03-13 15:31] sonfiree commented on #85
This is all the code.

[2020-03-13 15:38] sonfiree commented on #85
efficient-b0 has hidden layers

[2020-03-20 17:44] lamba92 opened #86 "Cannot find a way to feed a single image to InceptionV3"
My InceptionV3 layer has an input of `[?, 250, 150, 3]`. If I call `get_activations()` with an `x` of shape `(250, 150, 3)`, Keras will complaint that you need 4 dimensions, not 3.
Fair enough, the model needs a dynamic batch dimension (wait, wasn't supposed to use that dimension for training only?).

But if I go for a reshape like `np.reshape(image, (1,250, 150, 3))` the error becomes:
[code]
Wha

[2020-03-23 01:50] philipperemy commented on #86
@lamba92 do you have a code snippet that I can execute to reproduce your error? Which version of TF and keras are you using?

[2020-03-23 05:16] philipperemy commented on #86
I tried it and it worked well.

Model recognises the cat as `tabby (57.99463987350464)` and it looks correct.

[code]

[code]

![image](https://user-images.githubusercontent.com/4516927/77283880-be6de980-6d10-11ea-856a-abb2afad57b8.png)

![image](https://user-images.githubusercontent.com/4516927/77283894-c4fc6100-6d10-11ea-8cf0-78885b3c74df.png)

[2020-03-23 05:16] #86 closed

[2020-03-26 04:50] vee-upatising opened #87 "Display of Dense Layers"
Is there a better way to display dense layers to be more visually appealing?
![dense](https://i.imgur.com/JtV4UJj.png)
All the other layers are visually clear but the layer of 256 nodes is hard to interpret.  Is there a way to reshape the visualization? Or do I need to add a reshape layer to the model?
![cnn](https://raw.githubusercontent.com/vee-upatising/Recycle-Bot/master/CNN%20Forward%20Propag

[2020-03-26 13:59] philipperemy commented on #87
@vee-upatising yeah that's a good question. What would you suggest here? Reshaping to a rectangle or a square shape?

[2020-03-27 03:15] vee-upatising commented on #87
Would there be a way to change the shape to a square shape like the single output layer? Although this would be a little misleading since the nodes aren't actually arranged this way.

[2020-03-27 06:27] philipperemy commented on #87
It works if `num_units` is a square. For example 10 would not work. So I guess something like a square of size `int(sqrt(num_units)) + 1` would make sense if `num_units` is larger than a number say 16.

[2020-04-03 18:31] KaimingZhu opened #89 "Version Compatibility Problem : Keract comsume great amount of memory in tensorflow-gpu 1.15.0"
The problem is caused by environment below in Windows10 :

- tensorflow-gpu 1.15.0
- keras 2.3.1
- GTX 1080 ti
- CUDA 10.0 with Cudnn 7.6.4

everything is OK but when I use the keract function `get_activations(model, x, y)`, my memory comsuming reaching nearly 40GB and no any result, warning or error is given, though I just use one example for testing. I have **tried keract with version 3.1.0 and

[2020-04-03 20:52] KaimingZhu commented on #89
After Changing into the version with
- keract : 3.1.0
- tensorflow-gpu : 2.0.0
- keras : 2.3.1

**The comsuming of memory was solved, and the way I solve it is to install the package listed in /example/requirement.txt.**

But something strange still happen. When I try with the `heat_map.py`, the fuction `get_activations()` is executed in a normal speed. But when I use the same fuction with Alexnet

[2020-04-05 13:44] KaimingZhu commented on #89
The Problem is solved in final

- Why Keract Running Slowly
    - Ans : **That is due to the problem of slowly traning of tensorflow 2.0**, this problem arise when Keract use the learning pharse to compute gradient and activation output. To improve the performance, you can try tensorflow 2.1 with the Keract 3.0.2

- A compatible Version
    - Ans : This version list is work for me in Windows 10

[2020-04-05 13:44] #89 closed

[2020-04-06 06:03] philipperemy commented on #89
@KaimingZhu thank you a LOT for this deep analysis. Very useful. It's advised to use the latest versions of Keract and Tensorflow. I can add a dependency of Tensorflow in the requirements.txt.

[2020-04-09 17:38] KaimingZhu commented on #89
You are welcome :)

[2020-04-14 02:48] philipperemy commented on #87
@vee-upatising if you have time to write a small pr it would be appreciated!

[2020-04-15 14:45] tarun9927 opened #90 "TypeError: Invalid shape (32,) for image data"

[2020-04-15 21:46] liuxingbaoyu opened #91 "AttributeError: 'Model' object has no attribute '_standardize_user_data' with nightly build of tensorflow 2.2."
Hello, in the latest version of tensorflow, 'Model' object has no attribute '_standardize_user_data', is there any way? Thank you!

[2020-04-18 03:30] philipperemy commented on #91
@liuxingbaoyu update to the latest tensorflow and tell me if it solves the issue.

[2020-04-18 03:30] philipperemy commented on #90
Too vague. What do you mean by this?

[2020-04-19 04:38] liuxingbaoyu commented on #91
@philipperemy Still exists, I am using tf-nightly-gpu 2.2.0-dev20200418.

[2020-04-19 08:20] philipperemy commented on #91
@liuxingbaoyu I found why. You're using the nightly version and it seems that this function was removed in the 2.2+ version. When you `pip install tensorflow`, it fetches the 2.1.0 and it works with the latest STABLE version.

With `pip install tf-nightly` it fails:

[code]

I have no clear idea how to fix it. Try to use TF 2.1.0 for now. When it becomes official, I'll check more in depth.

[2020-04-19 08:27] liuxingbaoyu commented on #91
@philipperemy
This seems to work.
[code]

[2020-04-19 08:46] philipperemy commented on #91
@liuxingbaoyu cool thanks for sharing!

[2020-04-19 08:59] liuxingbaoyu commented on #91
@philipperemy Glad to help you!

[2020-04-27 02:15] #90 closed

[2020-04-27 02:15] philipperemy commented on #90
Closed because of inactivity.

[2020-05-01 11:41] #91 closed

[2020-05-07 15:14] eabouzeid-sanofi opened #92 "Error running keract.get_activations()"
Hi,
I was testing Keract on my code and it had issues.  So I decide to run the sample code you provided and still has issue as you can see below. It seems something related to i1 (InvalidArgumentError: i1_1:0 is both fed and fetched.). Please advice

Code:
import numpy as np
from keras import Input, Model
from keras.layers import Dense, concatenate
from keract import get_activations

# model defin

[2020-05-08 13:05] philipperemy commented on #92
@eabouzeid-sanofi which version of tensorflow/keras are you using?

[2020-05-08 15:13] eabouzeid-sanofi commented on #92
@philipperemy
Keras version: 2.2.4
Tensoflow version: 1.9.0

[2020-05-08 23:35] philipperemy commented on #92
@eabouzeid-sanofi can you upgrade your keras to 2.3.x and tensorflow 2.0 or 2.1?

[2020-05-13 13:07] theowoo commented on #91
@philipperemy

`pip install tensorflow` now fetches the 2.2.0 and the error described above persists.

[2020-05-18 06:13] sixsamuraisoldier commented on #91
To add to @theowoo I'm getting the same issue

[2020-05-19 01:55] philipperemy commented on #91
@theowoo @sixsamuraisoldier I've added a constraint to use 2.1.0 at most for now.
I'll have to look more into it when I have time.

[2020-05-20 11:38] philipperemy commented on #92
Let me know if the issue is still unresolved.

[2020-05-20 11:38] #92 closed

[2020-05-26 14:11] leoffx commented on #91
@liuxingbaoyu fix worked for me! thanks!

[2020-05-26 16:09] NelsonSharma opened #94 "Incorrect layer names in activation dict"
check the attached text file
Hi, input layer names and shapes have been mapped incorrectly in activation dictionary,
 kindly check below, this model has 4 inputs but only 2 seem to be correctly mapped
[problem_mapping_layer_names.txt](https://github.com/philipperemy/keract/files/4683493/problem_mapping_layer_names.txt)

[2020-05-27 00:27] philipperemy commented on #94
@NelsonSharma interesting. Thanks for reporting. Do you mind sharing your code so that I can update the lib?

[2020-05-27 02:07] NelsonSharma commented on #94
hi, plz check shared code file
[git_keract_issue.py.txt](https://github.com/philipperemy/keract/files/4686028/git_keract_issue.py.txt)

[2020-06-01 07:20] sandeeppandey456 opened #95 "tensorflow.__spec__ is None error showing when importing keract"
I am getting the following error when I am trying to import keract -

  File "<ipython-input-4-ce3b394693a3>", line 2, in <module>
    from keract import get_activations

  File "/home/sandeep/anaconda3/envs/kerasenv/lib/python3.7/site-packages/keract/__init__.py", line 3, in <module>
    tf_spec = importlib.util.find_spec("tensorflow")

  File "/home/sandeep/anaconda3/envs/kerasenv/lib/python3.7/

[2020-06-02 02:21] philipperemy commented on #95
@sandeeppandey456 which version of tensorflow are you using?

[2020-06-02 07:14] sandeeppandey456 commented on #95
Tensorflow version 1.14.0

[2020-06-02 12:53] philipperemy commented on #95
Can you upgrade to 2.0 and try again?

[2020-06-03 12:59] philipperemy commented on #94
I see 4 inputs
[code]

And 4 activations in your code:
[code]

[2020-06-03 13:19] NelsonSharma commented on #94
sure, but that's not the issue at all. It's not the number of inputs, but the inputs themselves. See here carefully.

the input layer named 'input_N_dur' has a shape (1,1) in the model.
input_N_dur (InputLayer)        [(None, 1)]

but in the activations dictionary (one returned by _get_activations_ function) is (384,1)
input_N_dur 	 (1, 384, 1)

As I understood, the layer  'input_C' and 'input_N_d

[2020-06-04 01:12] philipperemy commented on #94
@NelsonSharma fix on the way. https://github.com/philipperemy/keract/pull/96/files

[2020-06-04 01:52] philipperemy commented on #94
I've also added an extra test.

[code]

[2020-06-04 02:11] philipperemy commented on #94
Merged https://github.com/philipperemy/keract/commit/5ab5a4d0a0630fcea9ce57b420869a8daeeba3b2

[2020-06-04 02:12] philipperemy commented on #94
Released in 3.1.1.

[2020-06-04 02:13] philipperemy commented on #84
@jonashaag you have an example? I'll close the issue otherwise.

[2020-06-04 15:21] #84 closed

[2020-06-04 23:22] #94 closed

[2020-06-08 09:53] tom501 opened #100 "AttributeError: 'Model' object has no attribute '_standardize_user_data'"
I am getting the following error when I try to call the **get_activations** function after creating and fit my model:

`return K.function(k_inputs, nodes_to_evaluate)(model._standardize_user_data(x, y))
AttributeError: 'Model' object has no attribute '_standardize_user_data'`

at line 42, in eval_fn (keract.py)
Do you know what can cause it?

I'm using Keras 2.3.1 and Tensorflow 2.2.0

[2020-06-08 10:01] tom501 commented on #100
I have read this closed issue https://github.com/philipperemy/keract/issues/91 and I downgrade Tensorflow to 2.1.0.

It seems to have fix the problem...

[2020-06-08 10:01] #100 closed

[2020-06-08 10:09] philipperemy commented on #100
@tom501 upgrade to the latest keract (>=4.0). It should fix the problem with the latest Keras 2.3.1 and Tensorflow 2.2.0. Let me know!

[2020-06-08 17:22] tom501 commented on #100
I update keract (4.0.0) and it doesn't give me that error anymore, thanks!

[2020-06-09 09:25] philipperemy commented on #100
Great thanks for confirming!

[2020-06-09 09:28] philipperemy commented on #95
Should be fixed with keract 4.0.0. Please use tensorflow 2+ if possible.

[2020-06-09 09:28] #95 closed

[2020-06-09 10:30] philipperemy commented on #85
@sonfire86 should be fixed in Keract 4.0.0.

[2020-06-09 10:38] sonfire86 commented on #85
@philipperemy Unfortunately no. I had to manually rebuild the model

[2020-06-10 00:13] philipperemy commented on #85
@sonfire86 so did you solve your problem?

[2020-06-10 04:27] sonfire86 commented on #85
Expanded the `Model` layers inside the main `Model` and got a large list of layers arranged one after another

[2020-06-18 10:07] Shameendra opened #101 "Can this be used for multi label Tabular data?"
Hi i just was curious if i can use this for multi label tabular data. Since ma table has 1000 columns as input data and target has 19 columns, can anyone explain if keract works? i seem to have no success on my first attempt

[2020-06-18 10:43] qwertpi commented on #101
What do you mean by no success? What did you expect to happen? What actually happened?

[2020-06-18 15:47] Shameendra commented on #101
So i have input dataset of 1000 columns and output target of 19 columns. so one row of input data would have 19 predictions(1 row, 19 columns). when i try to get activations of lets say just the first column of the prediction, there does not seem to be anything that can do this job. it it always gives me activations for the output layer but but for a specific outout of the output layer.

Some code

[2020-06-26 10:05] Litschi123 opened #103 "Error when using display_heatmap"
Hi,

I am getting this error when using the display_heatmap method.
[code]
The shapes of *activations* and *input_image* are bot (1, 28, 28, 1).

**Problem description**
When i was looking at the code i noticed that the the for loop (line 321) which is iterating over the filters is trying to access the individual 'AxesSubplot' objects via array indexing. The problem i see is that in my case only o

[2020-06-26 10:06] Litschi123 opened #104 "Configurable figsize?"
Hey,

i would like to ask if there is some reason against a configurable figsize in methods like *display_activations*

Thank you

[2020-06-27 00:11] philipperemy commented on #104
@Litschi123 I don't think there's any reasons against a configurable figsize.

[2020-07-02 06:49] venergiac opened #105 "AttributeError: 'AxesSubplot' object has no attribute 'flat'"
I applied keract to my VQ-VAE

on

`kt.display_heatmaps(activations, img_o, save=False)`

I got

`AttributeError: 'AxesSubplot' object has no attribute 'flat'`

but
`kt.display_actovations(activations, save=False)`

worked well.

I used VGG16 and keract worked well for both cases.

I solved changing the keract

`def display_heatmaps(activations, input_image, directory='.', save=False, fix=True):`

[2020-07-02 11:34] sepehrgolriz opened #106 "Question"
Dear Sir,

I would like to know whether any of the API in your package is able to compute Grad-cam?
If the answer is yes, would you please let me know which one of those API is doing that?
Thanks for your kind help in advance.

[2020-07-04 03:24] philipperemy commented on #101
@Shameendra yes you can use https://pypi.org/project/tabulate/ if you want to produce a table from a numpy array.
I'll close this issue but please re-open it if it's not clear.

[2020-07-04 03:24] #101 closed

[2020-07-04 03:31] philipperemy commented on #105
@venergiac thanks for reporting. I'm going to see if there's a better way to handle this.

[2020-07-04 03:39] philipperemy commented on #105
Do you have a snippet that reproduces the problem? I can't reproduce it on a toy example. Thanks!

[2020-07-04 03:41] philipperemy commented on #104
Done in 4.2.1

[2020-07-04 03:42] #104 closed

[2020-07-04 03:43] philipperemy commented on #106
@sepehrgolriz no this repo does not do Grad Cam.

[2020-07-04 03:43] #106 closed

[2020-07-06 18:30] philipperemy commented on #105
I could reproduce the error. I guess this workaround works just fine for now. I'll push that to the codebase and will update it later when I have more time to understand exactly what's going on.

[2020-07-06 18:30] philipperemy commented on #103
Duplicate to https://github.com/philipperemy/keract/issues/105

[2020-07-06 18:42] philipperemy commented on #105
Fixed in https://github.com/philipperemy/keract/commit/48ebbc7ac13e1a104eafe3ce7fd799d361664a1e

[2020-07-06 18:42] #105 closed

[2020-07-06 18:42] philipperemy commented on #103
Fixed in https://github.com/philipperemy/keract/commit/48ebbc7ac13e1a104eafe3ce7fd799d361664a1e

[2020-07-06 18:42] #103 closed

[2020-07-06 18:44] philipperemy commented on #105
Released in 4.2.2

[2020-07-06 18:44] philipperemy commented on #103
Released in 4.2.2

[2020-07-07 06:14] venergiac commented on #105
yes confirmed now it works

[2020-07-14 15:53] pabcrepe opened #109 "Issue when using get_activations"
Hi,

I tried to use your example code prior to use this library with my own code. However, I had an issue when I launched the function _get_activations_ from the keract library.

The issue that is raised is: "AssertionError: Not a model or layer!".

I do not why, since the first parameter of function _get_activations_ is a Model object (<keras.engine.training.Model object at 0x7f8c9c1137b8>).

I w

[2020-07-15 01:59] philipperemy commented on #109
@pabcrepe Hi,
Can you share a snippet that I can run to reproduce the error. Thank you!

[2020-07-15 08:26] pabcrepe commented on #109
I used the example code:

[code]

Moreover, the library version I have installed are:
- Numpy 1.18.5
- Keras 2.3.1
- Keract 4.2.2

I run the code through Google Colab, and it raises the error "AssetionError: Not a model or layer!" when running __get_nodes_ function from _get_activations_.

Thank you!

[2020-07-15 08:40] philipperemy commented on #109
@pabcrepe great catch. Please update the imports from:

[code]

to

[code]

That should solve it. I'm going to update the README.

[2020-07-15 09:45] pabcrepe commented on #109
Thank you! It worked!

However, after solving the issue using your example code, I have a new issue using my code. I am loading a saved model which is an object _keras.engine.training.Model_ that was created with a lower version of tensorflow (I think that it was version 1.14), and therefore, it cannot be used as a parameter in the _get_activations_ function.

Do you know how I could convert this

[2020-07-15 10:20] pabcrepe commented on #109
Solved. It was very easy. If I load the model _m_, I have to write:

[code]

Now I have other issues with the inbound nodes of the loaded model =)

[2020-07-15 12:46] philipperemy commented on #109
Yes replace `keras` by `tensorflow.keras` everywhere =)

[2020-07-15 12:46] #109 closed

[2020-07-28 17:00] suarezjessie opened #110 "Activations for multi-output models"
Does `keract` have the capability to show activations and feature maps for multi-output autoencoders?

[2020-07-29 04:56] philipperemy commented on #110
@suarezjessie I would think so.

[2020-07-29 15:27] suarezjessie commented on #110
My current code throws out an error. The code is shown below

[code]

The model is an autoencoder that has a single-output and two-branch output. The code works previously for single-input and single-output autoencoders but it doesn't work for this one. Below is the stack trace:

[code]

[2020-07-30 04:50] suarezjessie commented on #110
I think the error is because the output of one layer in the model starts branching out and thus the output is a list instead. But I'm not really sure how to fix this

[2020-07-31 23:16] philipperemy commented on #110
@suarezjessie you think you can produce a snippet that I can run to fix the issue? As simple as possible :)

[2020-08-10 11:28] AlexKaravaev commented on #110
I have same error with model with number of outputs equal to 2

[2020-08-11 02:57] philipperemy commented on #110
@AlexKaravaev can you prepare a minimal snippet that I can run to fix the problem? Thanks.

[2020-08-11 09:06] AlexKaravaev commented on #110
@philipperemy Sure. I have tensorflow 1.13.1, python 3.7.7, Linux 5.4.0-42-generic #46-Ubuntu SMP Fri Jul 10 00:24:02 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux.

This is link to weights(just in case) - https://drive.google.com/file/d/1_xisukhDSJQoYJZcB9rUpXs-ULk7Kiwr/view?usp=sharing

[code]

[2020-08-18 07:45] Happy-AiLearn opened #111 "The newly loaded model cannot find the layer"
from tensorflow.keras.models import load_model
model = load_model('./model/model_new_weight_01.hdf5')

attention_map = get_activations(model, [test_data_1, test_data_2], layer_names= 'activation_3')['activation_3']

**KeyError ：**
KeyError: 'Could not find a layer with name: [activation_3]. Network layers are [input_5, input_6, embedding_4, embedding_5, bidirectional_4, bidirectional_5, dense_12,

[2020-08-18 08:02] #111 closed

[2020-08-18 10:36] philipperemy commented on #111
https://github.com/philipperemy/keras-tcn/blob/23845be7a35bb8bff6fbd8d3ccb5e7e50c9e4884/tasks/save_reload_sequential_model.py#L34
Use `custom_objects={'TCN': TCN}` when using `load_model` in general.

[2020-08-18 14:23] Hessen525 opened #112 "Does this code output feature map learned by cnn?"
Hi, @philipperemy
Thanks for this awesome project! Does this code output feature map learned by cnn?

![image](https://user-images.githubusercontent.com/25447481/90522791-b8d0de80-e19e-11ea-9031-fc122fc9e665.png)

Both input and output data are sequence data, not graph.

[2020-08-19 04:42] philipperemy commented on #112
@Hessen525 hey thanks for the feedback! Much appreciated 👍

I'm not sure exactly about your example. Keract outputs the activations of each of your model layers.

So when it goes through a CNN (2D) layer, the activation map you get will be of shape `(batch_size, rows, cols, channels)`. And 3D for a CNN 1D.

[2020-08-19 04:53] philipperemy commented on #110
A fix is on the way now.

[2020-08-19 05:38] philipperemy commented on #110
Fix in 4.2.3: https://github.com/philipperemy/keract/commit/472d8f428b17a2e79fbcbc439d65237627ca9620
Please update `pip install keract --upgrade`.

[2020-08-19 05:38] #110 closed

[2020-08-19 08:52] philipperemy commented on #87
PR: https://github.com/philipperemy/keract/pull/113

[2020-08-19 09:11] philipperemy commented on #87
Pushed in 4.2.4

[2020-08-19 09:11] #87 closed

[2020-08-19 12:59] philipperemy commented on #85
Should work on the latest keract version with `nested=True`. I'm going to close this issue. Let me know!
If it still does not work provide a snippet that I can run to debug.

[2020-08-19 12:59] #85 closed

[2020-09-02 00:46] Lecia321 opened #116 "Keract for non convolutional models"
Hi there,
Is there possibly an example/tutorial of how to use keract when you have a model that does not process images. As example a simple LSTM with soft max function.

I would like to see how one could use the functions keract offers in that way. Will be very useful to help explain predictions.

[2020-09-02 13:52] philipperemy commented on #116
@Lecia321 well keract gives you the outputs of each of your layers. So you can adapt it to your problem. At the moment, there's no example dealing with visualisation for LSTM. But there's a very good tutorial about it (for text generation):

- http://karpathy.github.io/2015/05/21/rnn-effectiveness/
- http://blog.echen.me/
- https://stats.stackexchange.com/questions/323782/how-to-visualize-char-rnn

[2020-09-02 16:39] Lecia321 commented on #116
Thank you @philipperemy for the reference to the tutorials. They will definitely help since I am very new to keract.

[2020-09-03 05:04] philipperemy commented on #116
@Lecia321 welcome! That would be great if you can share some of your code after that others can re-use for visualizing non conv layers. Good luck!

[2020-09-06 16:01] SURABHI-GUPTA opened #117 "Pytorch version"
can I use this with pytorch code ?

[2020-09-08 02:09] philipperemy commented on #117
@SURABHI-GUPTA sorry you can't. It's for Keras / Tensorflow only (Ker-act).

[2020-09-08 02:09] #117 closed

[2020-09-08 07:18] jvahl opened #118 "Activations for multi-output layers"
Is it possible to get activations for multi-output layers? See below for a simplified example.

[code]

Currently, the code raises
`AttributeError: 'list' object has no attribute 'op'`

I think the issue is similar to #110 but the fix therein does not solve this issue. I am using keract version 4.3.1

[2020-09-08 13:27] philipperemy commented on #118
@jvahl right the fix is out of scope (in my opinion). Thanks for the detailed analysis. Will work on a fix tomorrow!

[2020-09-09 02:17] philipperemy commented on #118
https://github.com/philipperemy/keract/pull/119

[2020-09-09 02:29] philipperemy commented on #118
Problem solved in 4.3.2! Update keract :)

[2020-09-09 02:33] #118 closed

[2020-09-09 02:34] philipperemy commented on #112
I'll close this issue. If you have any other questions please reopen it. Thank you.

[2020-09-09 02:34] #112 closed

[2020-09-11 07:42] #116 closed

[2020-09-11 07:43] philipperemy commented on #82
The latest code should now let you access to the sub-layers (nested=True). Let me know if it solves your problem. I'll close this issue for now.

[2020-09-11 07:43] #82 closed

[2020-09-23 20:17] dependabot-preview[bot] opened #120 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/philipperemy) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/philipperemy/update-logs/48501825).

[2020-09-25 20:13] #120 closed

[2020-09-29 09:16] CCH0124 opened #121 "Error in get_activations function"
My network
[code]

env：
- keras  2.3.0-tf
- tensorflow 2.2.0
- keract 4.3.2

I want to get information about the classification layer. However, the following error occurred.

Error message：
[code]

[2020-09-29 11:13] philipperemy commented on #121
Thank you for reporting. It seems to be a bug indeed. Will work on a fix asap.

[2020-09-29 12:34] philipperemy commented on #121
I'm using this code and it seems to work:

- tensorflow 2.3.0
- keract 4.3.2

[code]

I get

[code]

So a couple of possibilities:
- Either I'm not testing the right thing.
- Either you are not importing the right classes for tensorflow.
- Either tensorflow 2.2 does not work and 2.3 will work.

Try to uninstall keras you don't need to use Keras anymore (it's bundled with tensorflow).

[2020-09-29 13:41] CCH0124 commented on #121
This method is available.
However, when I save the network as a model, and then I import the model and call `get_activations` when predicting, the above error is issued.

[2020-09-29 13:54] philipperemy commented on #121
Can you paste a snippet that I can run to reproduce this error? A full (but minimal) code. Thanks!

[2020-09-29 23:24] CCH0124 commented on #121
[code]

After the above network is trained, save the model.

[code]

Then another file is imports into the model to make predictions and call `get_activations`.

[code]

[2020-09-30 00:28] philipperemy commented on #121
This works very well for me:

file1.py
[code]

file2.py
[code]

Output of file2.py
[code]

Try to upgrade tensorflow to 2.3.0. It may be the problem. And double check your imports.

[2020-09-30 00:29] philipperemy commented on #121
Also worth mentioning. I get the same values with `keract` before and after saving the model.

[2020-09-30 03:32] CCH0124 commented on #121
Sorry, I forgot to mention that I use the GPU environment.
But I will try the CPU.

[2020-09-30 05:08] philipperemy commented on #121
There might be a tensorflow bug if you define your model and save it on CPU and transfer it to a GPU machine. I know it's not that trivial to do in Pytorch. Let me know.

[2020-10-01 12:25] CCH0124 commented on #121
I temporarily use the CPU mode to work.

[2020-10-05 01:49] philipperemy commented on #121
Ok thank you. I'll close this issue for now.

[2020-10-05 01:49] #121 closed

[2020-10-08 16:32] bburns632 opened #122 "Plans to enable eager execution from TF 2.0?"
Hi there,

Love this package.  It works swimmingly in TensorFlow 1.0 or TensorFlow 2.0 in compatibility mode (`tf.compat.v1.disable_eager_execution()`).  Are there any plans to upgrade this package to work in TF 2.0 (with eager execution)?

I believe that would primarily mean using `tf.GradientTape()`.

This is on tensorflow==2.3.1,  python==3.7.9, and  keract==4.3.2

I am attempting `keract.get_g

[2020-10-08 16:35] bburns632 commented on #122
Also, this is on tensorflow==2.3.1

[2020-10-09 04:15] philipperemy commented on #122
@bburns632 thanks! Really appreciate!

Yes you are right at the moment, the eager mode has to be disabled in order to use this library.

I could make it work some time ago (on some examples) but I faced some problems:
- https://github.com/keras-team/keras/issues/14066.

I'd like to give a second look with tensorflow 2.3 but I can't guarantee exactly when.

At the moment, you can always do (I guess

[2020-10-09 04:57] philipperemy commented on #122
PR link: https://github.com/philipperemy/keract/pull/123.

[2020-10-09 07:50] philipperemy commented on #122
I tried a couple of hours but still unsuccessful to move to full eager. Some functionalities like gradients work but gradients of activations and some corner cases such that nested models don't work anymore.

[2020-10-09 08:40] philipperemy commented on #122
But I can release a version without nested models and without the gradients of the activations. I'll see what's the best way to do that.

[2020-10-10 01:32] philipperemy commented on #122
@bburns632 I pushed a nightly version to PyPi

[code]

Try and tell me how do you like it.

[2020-10-13 04:21] brian-burns-tc commented on #122
@philipperemy Thank you so much for this very quick accommodation!  A little sheepishly, I need to ask how to import this nightly version. The pip install works fine (keract-nightly==5.1; no keract installed), but `import keract` and `import keract_nightly` both seem to fail in script.

[2020-10-13 13:23] philipperemy commented on #122
No problem! Try:
[code]

then: `import keract`. The functions have the same signature!

[2020-10-13 15:18] brian-burns-tc commented on #122
Thanks.  That's what I tried.  It must have been something odd with my environment.  Starting from a new environment, it works great.  Thanks again!

[code]

[2020-10-14 00:56] philipperemy commented on #122
Already perfect! It's very alpha work so not all the functionalities will work. Good luck!

[2020-10-16 08:59] #122 closed

[2020-11-05 17:52] erik1026 opened #124 "Error when using model.add_loss"
I am trying to use keract with a model that has a custom loss function that uses internal model layers. The only way I have found to use internal layers in the loss function is with the keras model.add_loss function. However when using model.add_loss get the following error.

[code]

Below is a minimal working example.
[code]

[2020-11-06 07:47] philipperemy commented on #124
Working on it right now.

[2020-11-06 08:09] philipperemy commented on #124
Closed with 4.3.3. update and it should work!

https://github.com/philipperemy/keract/commit/1a2846598084f9725499f6978a5f5129f947d7ec

[2020-11-06 08:09] #124 closed

[2020-11-06 14:04] erik1026 commented on #124
Thanks for your quick reply! That did fix the issue in the minimal working example I provided. However there is a new issue when trying to implement my actual model. Here is a new example:

[code]

and the error is:

[code]

[2020-11-08 10:04] philipperemy commented on #124
@erik1026 can you provide a full snippet that I can run. Your model and y here are not defined. Thanks!

[2020-11-09 14:37] erik1026 commented on #124
I apologize, I have corrected the code above.

[2020-11-17 08:10] Yannik1337 commented on #116
Kinda related to _visualizing_ layers:

Extract a layers output, then write it to file. Load the file into TensorBoard (or projector.tensorflow.org), then visualize it using tSNE or PCA.

Sample code, x is a batch to be profiled, y are the according labels.

[code]

[2020-12-02 15:50] zepmck opened #125 "Regression CNN"
Hi, is it possible to use keract for a regression problem instead of classification?

Thanks!

[2020-12-03 08:50] philipperemy commented on #125
Yes definitely possible.

[2020-12-03 15:58] zepmck commented on #125
Hi @philipperemy, thanks for your reply. I am trying to get activations out of a custom 3D CNN without success so far. The last layers of my net are (simplified version):

[code]

I am currently getting this error:

`tensorflow.python.framework.errors_impl.UnimplementedError: Cast variant to float is not supported [Op:Cast] name: Cast/` threw by the keract `eval_fn `function.

The input of my net

[2020-12-05 05:28] philipperemy commented on #125
@zepmck upload the full code so that I can run it and see why it does not work.

[2020-12-07 10:55] zepmck commented on #125
@philipperemy this is the error that I get:

[code]

Since the code is quite complex as well as the input data, may I drop you an email?

[2020-12-07 11:04] philipperemy commented on #125
@zepmck try to make it easier and paste your snippet.

[2020-12-07 12:56] zepmck commented on #125
@philipperemy this is the full net

[code]

and then:

[code]

[2020-12-07 13:51] philipperemy commented on #125
@zepmck great we're making progress. Can you add a full code with imports that I can run locally and check why it fails and solve the problem?

[2020-12-09 16:11] zepmck commented on #125
@philipperemy I managed to make some progresses.

This is the output of the `get_activations` function:

[code]

however, since the `nrows `and `ncols `are equal to 1, at least for the first layer, the `hmap` doesn't get create throwing an error.

`AttributeError: 'NoneType' object has no attribute 'get_array'`

[2020-12-10 02:55] philipperemy commented on #125
@zepmck great. I think we are doing some progress. What is the shape of the np array you give to visualize activations that produces the error?

[2020-12-10 11:06] zepmck commented on #125
@philipperemy this is the shape of the input I provide to the `get_activations` function

`(1, 25, 25, 526, 1)`

[2020-12-11 01:03] philipperemy commented on #125
@zepmck what is ActivationFunction?

[2020-12-11 08:45] zepmck commented on #125
I am using the `leakyrelu`.

[2020-12-14 15:51] zepmck commented on #125
@philipperemy do you have any suggestion on how to move forward? thanks.

[2020-12-15 01:13] philipperemy commented on #125
[code]

Please provide me a code like this that I can run on my machine and reproduce your error. That's the best way to move forward. I'm trying to guess but it's not easy here. @zepmck

[2020-12-15 01:15] philipperemy commented on #125
But regarding your error I think your input is of type int and you should provide float. Try something like:

[code]

[2020-12-15 16:10] marteautony opened #126 "Visualization on image sequence"
Hello,

First of all, thank you for this easy-to-learn package.

Is it possible to use this package on models taking image sequences as input?

For example in my case I do action classification with a C3D model on 16 images (None, 112, 112, 16, 3) and the exception "Expect a tensor of 3 or 4 dimensions." kill the visualization.

Have a good day.

Tony

[2020-12-16 04:46] philipperemy commented on #126
@marteautony yep definitely possible but will have to define what type of output should be good.

[2020-12-17 06:12] HduSy opened #127 "Layer Import"
Don't support this way to import layers?
[code]

[2020-12-17 06:50] philipperemy commented on #127
@HduSy no you have to update to

[code]

Keras is now part of tensorflow.

[2020-12-17 10:08] zepmck commented on #125
Hi @philipperemy
I am working to prepare a code bundle to reproduce the error. However, if I execute the following sample code:

[code]

I get the same error:

`AttributeError: 'NoneType' object has no attribute 'get_array'`

What I am doing wrong?

Thanks!

[2020-12-17 14:36] razvanw0w opened #128 "Keras symbolic input/outputs and layer_names issue"
Hello,

I'm trying to train a model and use Keract to display the feature maps which are applied while training, but I ran into a problem. The model I'm trying to train is depicted in the snippet below.

[code]

If I try to run the following snippet, I get the following error, although I think I don't have any input/output layers:
[code]
[code]

A bigger issue is that if I try to get only the acti

[2020-12-17 15:06] philipperemy commented on #128
@razvanw0w I'll have a look tomorrow. In the meantime make sure your imports are from tensorflow and not from keras. `import tensorflow.keras` instead of `import keras`.

[2020-12-17 15:24] razvanw0w commented on #128
Done, I ruled this out. Libraries aren't the problem.

[2020-12-18 08:15] philipperemy commented on #128
@razvanw0w so good news I don't have any problem and I can run your code perfectly.

[code]

![image](https://user-images.githubusercontent.com/4516927/102590829-73282080-4154-11eb-84d0-e8fefa29c555.png)

It's likely a dep problem. Upgrade your tensorflow version.

[code]

[2020-12-19 02:56] yanshengjia commented on #128
Had the same issue. It turns out a tensorflow dependency probem. `get_activations()` doesn't work on tf 2.4.0, after I downgrade tf to 2.3.0, it works!

[2020-12-21 16:16] razvanw0w commented on #128
The dependency fix did the work. I had TF 2.4.0 and downgrading did the work. I will close the issue.
SOLVED!

[2020-12-21 16:16] #128 closed

[2020-12-22 06:43] philipperemy commented on #128
I'm going to add the TF<=2.3.0

[2020-12-22 06:43] philipperemy commented on #128
Tensorflow keeps changing their compatibility at every version..

[2020-12-22 09:36] philipperemy commented on #128
I pushed a new version 4.3.4 that solves the compatibility with TF 2.4.0

[2020-12-22 10:28] #127 closed

[2020-12-22 10:33] philipperemy commented on #125
I fix an error but in your case, you can't display the activations. Look at the shape of your activations:

![image](https://user-images.githubusercontent.com/4516927/102879029-7f7de780-448c-11eb-9a41-f460ebde1782.png)

How can you plot that in 2D? You have 4/5D!

[2020-12-22 10:34] philipperemy commented on #125
Just fetch your activations with `activations = get_activations(m, inputs)` but do not display them. Just do some processing with them instead.

[2020-12-30 19:39] #126 closed

[2020-12-30 19:39] philipperemy commented on #126
Closed for inactivity.

[2020-12-30 19:40] philipperemy commented on #125
Let me know if it is more clear to you now. I'll close this issue for now.

[2020-12-30 19:40] #125 closed

[2021-01-08 14:20] FalsoMoralista opened #132 "Using an input other than the one provided by the pre-trained model fails."
I have a fine-tuned resnet50 model which i I'm trying to visualize the activations, although I'm facing a few issues when calling ```get_activations``` function. Code and output below:

### Building model fn:
[code]
### Loading model & img

[code]
### First Error, although warnings concerning eager execution and other related exceptions seemed also to be thrown:

[code]
### Then when I have also t

[2021-01-09 21:11] philipperemy commented on #132
Try to structure your code in this way instead:

[code]

The nested models can sometimes return weird errors.

[2021-01-09 21:43] philipperemy commented on #132
You can also follow some of the examples in: https://github.com/philipperemy/keract/blob/20846aaed0da68d5c328864b56d9a07fd696a76c/tests/get_activations_test.py#L16

[2021-01-11 13:31] FalsoMoralista commented on #132
Worked out nicely, thank you very much for the attention and patience.

[2021-01-11 17:23] philipperemy commented on #132
@FalsoMoralista great! Ideally your case should be properly handled but it's quite a pain to handle all the cases.

[2021-01-16 19:10] FalsoMoralista commented on #132
[Edit] I just realized after trying some predictions that i've copied/pasted the code withouth trying to load the weights, when i do it using your code the following error show up: ```ValueError: You are trying to load a weight file containing 2 layers into a model with 107 layers.``` I'm trying to figure out why, maybe a keras bug.

[2021-01-17 17:06] FalsoMoralista commented on #132
Fixed by doing:
[code]

[2021-01-17 17:29] philipperemy commented on #132
Great! Keras can sometimes be a pain to use.

[2021-01-18 16:31] FalsoMoralista commented on #132
Nevermind what i said earlier, i realized that i was returning the model before loading the weights.

## When in fact after trying to get the activations from the fine-tuned model leads to the same error:

```Python Invalid argument: You must feed a value for placeholder tensor 'input_1' with dtype float and shape [?,224,224,3] ```

[2021-01-19 12:58] FalsoMoralista commented on #132
### Tryied downgrading tf to 2.3 and 2.1, unsucessfully.
[code]

### Complete traceback
[code]

[2021-01-21 01:16] jvahl opened #134 "get_activations: AttributeError when nested=True"
I have a nested model using a `TimeDistributed` layer. When trying to retrieve activations of a nested layer via `keract.get_activations`, I get an AttributeError. Here's a simple example:

[code]

Which raised

[code]

Any suggestions? I am using keract version 4.3.4

[2021-01-21 01:48] philipperemy commented on #134
@jvahl will have a look today

[2021-01-22 07:46] philipperemy commented on #134
I'm trying to refactor the code but it will take some time.

[2021-01-23 00:00] philipperemy commented on #134
I pushed something. Upgrade your keract lib.
It works for the timedistributed layer but does not work for the embedding layer (if you want to make it work for the embedding layer, specify the model_time and not the model). Somehow Keras is confused by your architecture and it says graph node is disconnected.

[2021-01-23 01:21] jvahl commented on #134
Is it possible to retrieve activations of the sublayers of TimeDistributed at all? I updated to keract 4.4.0 and tried

`keract.get_activations(model, x, layer_names='lstm',nested=True)`

which gives me

`KeyError: 'Could not find a layer with name: [lstm]. Network layers are [input, timedistributed, dense]'`

[2021-01-23 01:25] philipperemy commented on #134
@jvahl you need to specify `model_time` instead of `model` in:
[code]
It's not ideal but I'm pretty it will work.

[2021-01-23 06:35] jvahl commented on #134
That works in the simple example but not in my application where `model` is trained and model_time doesn't exist separately.

The issue with the disconnected graph seems to be a tensorflow issue, see https://github.com/tensorflow/tensorflow/issues/42017.

Nonetheless thanks for your help! Really appreciate the quick response.

[2021-01-23 06:35] #134 closed

[2021-02-16 18:54] elcronos opened #136 "Any plans for Pytorch implementation?"

[2021-02-17 01:09] philipperemy commented on #136
Not at the moment but it's a good idea.

[2021-02-17 01:41] elcronos commented on #136
I have been looking for it and there is nothing out there in the Pytorch community. It would be great !

[2021-03-10 10:02] sayantanbbb commented on #122
Damn it I am getting this error 'RuntimeError: Attempting to capture an EagerTensor without building a function.'
`tf.compat.v1.disable_eager_execution()

model.optimizer.get_gradients(model.losses,model.trainable_weights)
`

[2021-03-12 20:33] nandaw commented on #132
I'm getting the same error as @FalsoMoralista

[2021-03-12 22:44] FalsoMoralista commented on #132
@nandaw  I was able to manage by doing as follow:

### First i had my model set up as normally so I was able to load the weights from my fine-tunned model (not sure if it is actually necessary for loading the weights). Then i created a submodel using the layers defined at "input" and "output" (the output is the last fine-tuned layer).
[code]
### Then basically all you have to do is to predict from

[2021-03-13 00:48] philipperemy commented on #132
From this reference: https://keras.io/api/applications/

You can do it easily like that:

[code]

![image](https://user-images.githubusercontent.com/4516927/111012895-ec947f80-83e0-11eb-9b62-a3294f860a50.png)

By the way those are the shapes of each layer output for ResNet50:

[code]

[2021-03-15 20:28] nandaw commented on #132
I guess it's easier if I put my code here. What I'm trying to do is do get the activation for each one of the slices:

[code]
## And I got the following error:

[code]

[2021-03-16 02:40] philipperemy commented on #132
@nandaw can you paste a full snippet that I can run?

[2021-03-16 13:54] nandaw commented on #132
Sure, @philipperemy

[code]

[2021-03-17 01:33] philipperemy commented on #132
I spent more than 30min on it and could not find an easy to do what you want to do.
There seems to be a bug when you use an input that is not the input of the pre-trained model.
[code]
This would work but defining `input_tensor = Input(shape=(N_SLICES, IMAGE_SIZE, IMAGE_SIZE, 3), name='hello')` seems not to work and I don't know why.

I'll reopen this issue but I don't know when I can find time to

[2021-03-17 01:43] philipperemy commented on #132
But that solution should save you for now:

[code]

[2021-03-17 01:43] philipperemy commented on #132
**Output**

[code]

[2021-03-18 00:19] FalsoMoralista commented on #132
I realized that doing
[code]
for finding the strongest activation was incorrect.

Then i did:

[code]
And by plotting heatmaps i was able to see more intuitively things with respect the obtained features.

[2021-03-19 17:19] nandaw commented on #132
Only today I had the opportunity to implement and test your change. It worked like a charm! Huge thanks!!

[2021-03-20 01:00] philipperemy commented on #132
@nandaw happy I could help!

[2021-03-23 18:50] Schrolli91 opened #137 "Heatmaps - ValueError: X has 20 features, but MinMaxScaler is expecting 1 features as input."
When i try to show the heatmap i get the following error:
[code]

`display_activations()` (the commented line) works fine with the following code, but `display_heatmaps()` will fail:
[code]

[2021-03-25 06:06] philipperemy commented on #137
@Schrolli91 can you provide a snippet that I can execute and run to reproduce the error?
Just replace your data by some random matrices in numpy with `np.random`.

[2021-03-25 06:23] Schrolli91 commented on #137
Here is my snippet:

[code]

And here the console:
[code]

[2021-03-25 06:43] philipperemy commented on #137
@Schrolli91 can you replace `keras.models.load_model("2021_03_19-model-cnn-100.keras")` by the model definition or upload your model file somewhere?

[2021-03-25 07:24] Schrolli91 commented on #137
Of course - but i dont think thats model depended
[2021_03_19-model-cnn-100.zip](https://github.com/philipperemy/keract/files/6202695/2021_03_19-model-cnn-100.zip)

[2021-03-25 07:41] philipperemy commented on #137
yeah but I need this file to reproduce your error ;)

[2021-04-01 02:34] philipperemy commented on #137
@Schrolli91 I ran your code and I didn't have any problem at all.

[code]

[2021-04-01 02:34] philipperemy commented on #137
Here are my deps. Maybe try the latest keract?

[code]

[2021-04-01 15:13] Schrolli91 commented on #137
I'll re-check this at the weekend and let you know what happend.
So far - Thanks for your efforts

[2021-04-02 01:47] philipperemy commented on #137
@Schrolli91 good luck!

[2021-04-28 09:53] philipperemy commented on #137
@VincenzoNucci thank you I'm going to re-open the issue.

[2021-04-28 14:20] kknydnai commented on #137
Hello everyone I have solved the problem. It has to do with dependencies.
I installed tensorflow, numpy, scikit-learn, scipy and keract to the ones mentioned by @philipperemy
After that the code works like so: you need to get the first element of the image in the diplay_heatmaps() function.

[code]

[2021-04-28 15:41] VincenzoNucci commented on #137
@kknydnai You're right. I had different versions for scikit-learn and scipy. Downgrading both to the versions listed [here](https://github.com/philipperemy/keract/issues/137#issuecomment-811593800) worked.

It may be that the MinMaxScaler changed in version 0.24

Thank you all.

[2021-04-28 23:14] philipperemy commented on #137
Oh yeah it seems I saw it before: https://github.com/philipperemy/keract/blob/dea741b7247a45b7c8efd3f8fe1bd84d609a9d81/examples/examples-requirements.txt#L4

[2021-04-28 23:15] philipperemy commented on #137
[code]
Will solve this.

[2021-05-06 06:56] sonfire86 opened #141 "Can not convert a odict_values into a Tensor or Operation"
I try to run

`activations = get_activations(model, x, auto_compile=True)`

Error
`Can not convert a odict_values into a Tensor or Operation`

I`m used TensorFlow 1.14 and tf.keras

[2021-05-06 10:14] philipperemy commented on #141
Update to tensorflow 2+

[2021-05-06 10:14] #141 closed

[2021-05-17 22:11] imandr opened #142 "custom loss not working any more"
My code, which used to work in previous versions of Keras, before switching to Tensorflow, had this custom loss function:
[code]
Here, delta is an input layer unused by the model otherwise. It is used only to calculate this loss.

Now when I run this code under Keras with Tensorflow 2.4.0 I get this error:

[code]
The message is correct. I do use the Keras inout layer directly. My question is what

[2021-05-17 22:31] #142 closed

[2021-06-11 13:29] daniyalmarofi opened #143 "Example in the README: 'Functional' object has no attribute '_layers'"
Hello
I simply run the example in the [Readme]('Functional' object has no attribute '_layers') in the Google Colab, but I get the following error:

[code]

I think it's because of the last update of Keras. Would you fix it?
I Also checked keract-nightly but I got the same error.

[2021-06-19 14:37] philipperemy commented on #143
https://github.com/philipperemy/keract/commit/773e1a683067c626daf879e5353915e31cdcd7d7 fixed in this commit.

[2021-06-19 14:37] #143 closed

[2021-06-19 16:14] philipperemy commented on #143
Pushed to 4.5.0

[2021-06-19 16:19] #137 closed

[2021-06-20 10:17] #132 closed

[2021-07-05 10:10] arthur-ver opened #146 "display_heatmaps() ValueError: X has 28 features, but MinMaxScaler is expecting 1 features as input."
[code]

[code]
Error:
[code]
`display_activations` works as intended, though on the same model

[2021-07-09 12:56] arthur-ver commented on #73
Hey! Could you please give me some tips on how to implement it? With regards, Arthur

[2021-07-09 13:48] philipperemy commented on #146
Cf. https://github.com/philipperemy/keract/issues/137

[code]
Will solve this.

[2021-07-09 13:48] #146 closed

[2021-09-26 14:56] gabrielbcn commented on #146
What if it's not possible to have this version? Any other hints that may be helpful? Thanks in advance

[2021-10-10 16:13] LuisFMCuriel opened #149 "Interaction with submodels?"
Hi,
First of all, very nice job! It seems like a very useful tool. I have been trying to plot a convolution layer in a submodel, but it doesn't find the layer. My model includes a subblock where I perform the convolutions in my NN. Just to be clear about what I am doing; the convolutions are inside a submodel in my main model (the shapes and number of convolution layers in the submodel image are n

[2022-01-12 07:35] evanrmurphy opened #150 "Trying to use keract.get_activations() for days, keep getting stuck"
I've been trying for several days to successfully use `keract.get_activations()` on an acoustic or speech recognition ML model. This is the failure I've encountered most often:

[code]

I've been working in Colab using the wav2vec2 model. The notebook I was using had some elements not directly related to this, so I've copied only the relevant parts into a more streamlined Colab that's easier to fo

[2022-01-14 01:20] philipperemy commented on #150
@evanrmurphy Hey Evan! Can you distill the minimum snippet that can reproduce the issue you have? Copy paste here that I can have a look!

[2022-01-15 06:44] evanrmurphy commented on #150
I already did distill it into the Colab linked above. 😕  Admittedly there is still a fair amount of setup in that notebook though, I guess that's what you mean...

I was able to unblocked and at what I needed moment using another library so I probably won't be working on the keract integration again unless/until I hit major issues with that. Thank you, Philippe.

[2022-01-15 14:01] philipperemy commented on #150
@evanrmurphy okay no problem! Thanks for pointing out the issue!

[2022-01-29 19:22] izainpasha commented on #69
Anyone can help with the below code error?

Code:
model = load_model(os.path.join("/content/drive/MyDrive/models", "model.h5"))
 model.summary()

Error:
 NameError                                 Traceback (most recent call last)
<ipython-input-5-b1e39aa78a92> in <module>()
      1
      2
----> 3 model = load_model(os.path.join("/content/drive/MyDrive/models", "model.h5"))
      4 model.summary()

[2022-01-30 03:55] philipperemy commented on #69
[code]

-> `import tensorflow.keras.backend as K`

But make sure you are using the latest code!

[2022-01-31 18:18] izainpasha commented on #69
I've tried it but not working, I'm using the latest code with Tensorflow 1.15.2

[2022-02-01 00:44] philipperemy commented on #69
Can you use Tensorflow 2x instead?

[2022-05-01 03:24] fan9704 commented on #69
I use tensor flow 2.8.0 also have this problem how to deal with it
[code]

[2022-05-20 04:23] philipperemy opened #151 "Implement with GradientTape"
Linked to https://github.com/keras-team/keras/issues/14066#issuecomment-1131904638

[2022-05-25 21:51] timwfburton opened #152 "Help with get_activations"
I've been having a lot of success with your keras attention library, and was hoping to use get_activations to understand the network behavior in more detail.

In this toy example (which I created to reduce down to the smallest snippet), I have a dataset of size 100, each with 10 time steps, and each time step having 5 features. There's an initial dense model which is encapsulated in a time distrib

[2022-05-31 02:29] philipperemy commented on #152
@timwfburton can you paste the full code that I can run?

[2022-05-31 13:09] timwfburton commented on #152
Of course, thanks in advance - here it is!

import keras as k
import keract
from attention import Attention
import numpy as np

num_samples = 100
timeSteps = 10
featurePerStep = 5

coreModel =  k.models.Sequential()
coreModel.add(k.layers.Input(shape=(featurePerStep), name = 'input'))
coreModel.add(k.layers.Dense(3))

coreModel.summary()

timeDistributedModel = k.models.Sequential()
timeDistribute

[2022-06-04 08:30] cxrles opened #153 "display_heatmap error"
hello. i just following this tutorial using my local enviroment. At the display_heatmap cell, it always give me this error:
ValueError: X has 28 features, but MinMaxScaler is expecting 1 features as input.
i guess this problem rise since i use last channel format but the minmaxscaler can only apply on first channel format?

the tutorial: https://github.com/christianversloot/machine-learning-articl

[2022-06-04 10:02] cxrles commented on #153
i tested your 'heat_map.py' code (at the examples folder) too, and it give me the same error

[2022-06-04 15:05] #153 closed

[2022-06-08 09:38] philipperemy commented on #152
https://github.com/philipperemy/keras-attention-mechanism/blob/482b0c937b3888da5967b47478701838a4222269/examples/add_two_numbers.py#L95

What you want is the attention_weights. But maybe it does not work well with the Sequential API. Try with the functional API.

[2022-07-12 08:06] qwertpi commented on #137
I’m working on a fix that removes the dependency on scikit-learn

[2022-07-12 12:28] philipperemy commented on #137
@qwertpi thanks!

[2022-09-22 16:34] onyekaokonji opened #158 "Scikit-learn requirement"
I'd like to know if Keract now displays heatmaps with more recent versions of scikit-learn as opposed to the hard requirement of using versions <= 0.32.2. Reason i ask is, I'm trying to build a Flask backend which should display the heatmaps and so need to pip install this exact version of scikit-learn, unfortunately, subprocess.check_call keeps failing with this version specification.

[2022-09-23 01:09] philipperemy commented on #158
@onyekaokonji I think it still needs the old version 0.32.2 or less but I can see how to upgrade it with the latest scikit-learn version.

[2022-09-23 09:31] onyekaokonji commented on #158
That would be very appreciated @philipperemy can i ask when that might be done?

[2022-09-25 12:26] philipperemy commented on #158
I'll try to work on it tomorrow.

[2022-09-25 14:37] philipperemy commented on #158
So actually the work has already been done here: https://github.com/philipperemy/keract/commit/9943b6e7513b31be84ede03f72fba6853225c44e.

[2022-09-25 14:40] philipperemy commented on #158
Pushed in version 4.5.1. This will solve your problem:

[code]

[2022-09-25 14:40] #158 closed

[2022-09-25 14:41] onyekaokonji commented on #158
Oh! Thank you very much! I will do the upgrade now

[2022-09-25 14:45] onyekaokonji commented on #158
Works perfectly! Thanks again.

[2022-09-25 15:47] philipperemy commented on #152
I'll close this issue (cf. answer above). If it's not clear, feel free to comment on it!

[2022-09-25 15:47] #152 closed

[2022-09-25 15:48] #150 closed

[2022-09-25 15:49] philipperemy commented on #149
@LuisFMCuriel So I've been researching extensively with the sub models and I could not find a way to make it work all the time...

[2022-11-03 10:22] philipperemy commented on #149
So long story short, submodels are not properly handled. That's a limitation of the lib.... I'll add it to the README.

[2022-11-03 10:22] #149 closed

[2022-11-03 10:24] philipperemy commented on #149
https://github.com/philipperemy/keract/blob/master/README.md#limitations--ways-of-improvement